
<div class="container">
    <div class="row">
  
            <div class="col-12 mt-4">
                <h2 class="" style="display: inline; color: #2155a3; ">Select stage & Subphase</h2>
                <button type="button" class="close bthnHover" aria-label="Close" (click)="onClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-md-10 mx-auto mt-5">
                <div class="mt-4">
                    <label for="stageName">Stage name</label>
                    <select id="stageName" class="form-select bg-light w-100" (change)="onStageChange($event)">
                        <option value="" selected disabled>Select stage</option>
                        <option *ngFor="let stage of stagesList" [value]="stage.stageName">{{ stage.stageName }}</option>
                    </select>
                </div>
                <div class="mt-4" [hidden]="stageSelection">
                    <label for="stageName">Stage name</label>
                    <select id="stageName" class="form-select bg-light w-100" (change)="onSubPhaseChange($event)">
                        <option value="" selected disabled>Select subphase</option>
                        <option *ngFor="let subphase of subphaseList" [value]="subphase.subPhaseName">{{ subphase.subPhaseName }}</option>
                    </select>
                </div>            
               
                <div class="mt-5 text-right">
                  
                    <button [disabled]="stageSelection || subphaseSelection ===true" class="py-2 px-4 border-0 rounded button-color text-white"style="" (click)="next()">Next <i
                            class="fas fa-arrow-right ms-1"></i></button>
                </div>
            </div>
    



    </div>
</div>