<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6" style="padding-inline-start: 4em;">
            <img src="assets\images\exwiselogo.png" alt="" width="60%" style="margin-top: 7%;">
            <h1 class="text-color-size">Employee experience <br> that makes a <br>difference</h1>
            <button type="button" routerLink="/login" class="btn btn-outline-secondary btn-lg text-center px-4 py-2 login-border-color rounded">LOG IN</button>  
            <button type="button" class="btn btn-outline-secondary btn-lg text-center px-4 py-2 ms-3 create-border-color rounded">Forgot Password</button>          
        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <img src="assets\images\exwise-circle.png" width="90%" style="margin-top: 10%;">
        </div>
    </div>
</div>
