<mat-toolbar class="bg-white">
  <img src="assets\images\exwiselogo.png" alt="" class="h-75">
  <span class="example-spacer"></span>
  <div class="p-1 bg-light rounded rounded-pill shadow-sm search-bar" style="width: 500px; margin-inline-start: 10em;">
    <div class="input-group">
      <input type="search" placeholder="" aria-describedby="button-addon1" class="form-control border-0 bg-light"
        style="height: 30px;">
      <div class="input-group-append">
        <button id="button-addon1" type="submit"
          class="btn btn-link text-primary rounded-circle button-color d-flex justify-content-center align-items-center"
          style="width: 30px;">
          <i class="fa fa-search text-white" style="font-size: 13px;"></i>
        </button>
      </div>
    </div>
  </div>
 
  <i class="fa fa-bell-o" style="font-size:26px;margin-left: 12em;color:  #323842FF;"></i>
  <i class="fa fa-question" style="font-size:26px;margin-left: 1em;color:  #323842FF;" routerLink="./faq"></i>
  <div style="margin-left: 1em" [matMenuTriggerFor]="menu" aria-label="User Profile">
    <img src="assets\download-old.png" alt="Profile Picture" class="rounded-circle" height="40" width="40">
  </div>
  <mat-menu #menu="matMenu" class="custom-menu rounded-lg">
    <div class="popup-content">
        <div class="text-center">
          <img src="assets\download-old.png" alt="Profile Picture" class="profile-picture-large text-center rounded-circle"height="40" width="40">
        </div>
        <button mat-menu-item (click)="OnLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </div>
</mat-menu>
</mat-toolbar>


  <mat-sidenav-container autosize="true">
    <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
      [opened]="isMobile ? 'false' : 'true'">
      <mat-nav-list>
        <a mat-list-item (click)="expandNavBar()">
          <span class="entry">
            <mat-icon>menu</mat-icon>
            <span *ngIf="!isCollapsed"></span>
          </span>
        </a>
        <a mat-list-item routerLink="./dashboard">
          <span class="entry">
            <mat-icon>dashboard</mat-icon>
            <span *ngIf="!isCollapsed">Dashboard</span>
          </span>
        </a>
        <a mat-list-item routerLink="./reminder">
          <span class="entry">
            <mat-icon>alarm</mat-icon>
            <span *ngIf="!isCollapsed">Reminders</span>
          </span>
        </a>
        <a mat-list-item routerLink="./profile">
          <span class="entry">
            <mat-icon>account_circle</mat-icon>
            <span *ngIf="!isCollapsed">Profile</span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bg-white">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

