<section id="tasksection2">
    <div class="container-fluid leaveHeader">
      <div class="row">
        <div class="col-lg-12 col-md col-sm-12">
        
            <div class="row mt-3">
              
                  <div class="d-flex align-items-center justify-content-between">
                    <h3 style="margin: 0"class="blue-color font-weight-bold ">Group Details</h3>
                    <button
                    class="btn background-color"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight3"
                    aria-controls="offcanvasRight3"
                    style="height: 3em"
                    >
                    <img src="assets/plus.svg" class="me-2" height="18" alt="" />
                    <span class="filter-text">Create Group</span>
                    </button>
                    <!-- <button
                    class="btn background-color"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight3"
                    aria-controls="offcanvasRight3"
                    style="height: 3em"
                    >
                    <img src="assets/plus.svg" class="me-2" height="18" alt="" />
                    <span class="filter-text">Create Meeting</span>
                    </button> -->

                  </div>
                
                  
               
                
            </div>
            <section class="container pt-3 mb-3" >
                <!-- <h2 class="h3 block-title text-center">What we do<small>Whatever we do, we do with your end user in mind </small></h2> -->
                <div class="row mt-3">
              
                 
                  <div class="row mt-3 d-flex align-items-center justify-content-between">
                  
                      <div class="col-xl-12 col-lg-12 col-md-4 col-12 " >
                        
                        <table class="table align-middle mb-0 bg-white">
                          <thead class="bg-light">
                            <tr>
                              <th></th>
                              <th>Title</th>
                              <th>clientId</th>
                              <th>Status</th>
                              <th>criteria</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of allUser">
                             
                              <td >
                                <div class="d-flex align-items-center">
                                  <div class="timeline">
                                    <div class="timeline-date  text-center rounded float-end" style="background-color: #2155a3;">
                                      <h3 class="text-white mb-0 fs-17">{{meetingDay}}</h3>
                                      <p class="mb-0 text-white-50">{{meetingMonth}}</p>
                                  </div>
                                  </div>
                              
                                 
                                </div>
                              </td>
                              <td> <div class="ms-3">
                                <p class="fw-bold mb-1">{{data.title}}</p>
                                <!-- <p class="text-muted mb-0">{{data.email}}</p> -->
                              </div></td>
                              <td>
                             
                                <p class="text-muted mb-0">{{data.clientId}}</p>
                              </td>
                              <td>
                                <span class="badge badge-success rounded-pill d-inline">Active</span>
                              </td>
                       
                             <td>
                              <p class="text-muted mb-0">{{data.criteria}}</p>
                             </td>
                              <td>
                                <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="openPopup(data.id)">
                                  Edit
                                </button>
                              </td>
                            </tr>
                           
                          </tbody>
                        </table>

                                     
                      </div>
                    </div>
                  
               
                
                </div>
            </section>
            
          </div>
       
        </div>
      
      </div>
    
  </section>
 
<section id="tasksection2">
    <div class="container-fluid ">
        <div class="container-fluid leaveHeader">
          
            
            </div>
        <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasRight3"
        aria-labelledby="offcanvasRightLabel"
        (hide.bs.offcanvas)="hideOffCanvas()"
        >
        <div class="offcanvas-header" style="justify-content: start; gap: 3em">
          <div class="d-flex align-items-center">
            <img src="assets/back.svg" alt="" height="10" class="me-2" srcset="" />
            <span
              class="backtext"
              type="button"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
              id="closeOffCanvas"
              >Back
            </span>
          </div>
          <h4 class="mb-0">Schedule Meeting</h4>
        </div>
        <div class="offcanvas-body">
            <form [formGroup]="meetingForm">
              <div class="mt-2">
                <label class="form-label">Group Name</label>
                <input
                  
                  type="text"
                 
                  rows="3"
                  class="form-control form-control-lg"
                  placeholder="title"
                  formControlName="title"
                />
              </div>
                <div class="mt-2">
                    <label class="form-label">Criteria</label>
                    <input
                      
                      type="text"
                     
                      rows="3"
                      class="form-control form-control-lg"
                      placeholder="criteria"
                      formControlName="criteria"
                    />
                  </div>
                  <div class="mt-2">
                    <label class="form-label">Description</label>
                    <input
                      
                      type="text"
                     
                      rows="3"
                      class="form-control form-control-lg"
                      placeholder="description"
                      formControlName="description"
                    />
                  </div>
                <div style="margin-top: 19px">
                  <label class="form-label">Select Client</label>
                  <select
                    class="form-select dropdown form-select-lg"
                   
                   formControlName="clientId"
                    aria-label="Default select example"
                  >
                    <option value="" selected disabled>Please select</option>
                    <option *ngFor="let e of allUser" [value]="e.id">
                      {{ e.title }}
                    </option>
                  </select>
                </div>
                
                <div class="d-grid mt-3">
                  <button
                    class="btn background-color p-3"
                    *ngIf="vissible"
                    (click)="createMeeting()"
                  >
                    Submit
                  </button>
                  <button
                    class="btn btn-primary p-3"
               onclick="updateMeeting()"
                    *ngIf="isVissible"
                  >
                    Update
                  </button>
                </div>
              </form>
        </div>
        </div>
    </div>
   
</section>