<section id="tasksection2">
  <div class="container-fluid leaveHeader">
    <div class="row">
      <div class="col-lg-12 col-md col-sm-12">

        <div class="row mt-1 px-5">

          <div class="d-flex align-items-center justify-content-between">
            <h3 style="margin: 0; font-family: poppins; font-weight: 900;" class="blue-color">Group Details</h3>
            <button class="btn background-color" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight3" aria-controls="offcanvasRight3" style="height: 3em; font-family: poppins;">
              <img src="assets/plus.svg" class="me-2" height="18" alt="" />
              <span class="filter-text">Create Group</span>
            </button>
            <!-- <button
                  class="btn background-color"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasRight3"
                  aria-controls="offcanvasRight3"
                  style="height: 3em"
                  >
                  <img src="assets/plus.svg" class="me-2" height="18" alt="" />
                  <span class="filter-text">Create Meeting</span>
                  </button> -->

          </div>




        </div>
        <section class="container pt-3 mb-3">
          <div class="row">


            <div class="row d-flex align-items-center justify-content-between">

              <div class="col-xl-12 col-lg-12 col-md-4 col-12 ">
               
                <section class="container" style="overflow: hidden;">
                  <div class="row table-row row-head gx-0">
                    <div class="col fw-bold">Date</div>
                    <div class="col fw-bold">Title</div>
                    <div class="col fw-bold">Status</div>
                    <div class="col fw-bold">criteria</div>
                    <div class="col fw-bold">Action</div>
                  </div>
                  <div class="tableCointainer">
                    <div class="row gx-0 table-row row-body px-0 " *ngFor="let item of allUser">
                      <div class="col">
                        <div class="d-flex justify-content-center">
                          <div class="timeline">
                            <div class="timeline-date  text-center rounded float-end"
                              style="background-color: #2155a3;">
                              <h3 class="text-white mb-0 fs-17">{{meetingDay}}</h3>
                              <p class="mb-0 text-white-50">{{meetingMonth}}</p>
                            </div>
                          </div>


                        </div>
                      </div>

                      <div class="col">
                        <p class="fw-bold mb-1">{{item.title}}</p>
                      </div>
                      <div class="col d-flex flex-column align-items-center"
                        style="font-family: poppins; overflow: hidden;">
                        <span class="badge badge-success rounded-pill d-inline">Active</span>
                        <!-- <span *ngIf="item.status=='Active'"
                            class="badge badge-success rounded-pill d-inline">{{item.status | titlecase}}</span>
                          <span *ngIf="item.status==='Inactive'"
                            class="badge badge-danger rounded-pill d-inline">{{item.status | titlecase}}</span> -->
                      </div>

                      <div class="col">
                        <p class="text-muted mb-0">{{item.criteria}}</p>
                      </div>
                      <div class="col">
                        <button class="border-0 m-2 " style="font-size:20px "> <i class="fa fa-pencil"
                            style="color: gray;"></i></button>
                        <button class="border-0 m-2 " style="font-size:20px" (click)="onDeleteFocusGroup(item.id)"> <i
                            class="fa fa-trash" style="color: gray;"></i></button>
                      </div>
                    </div>
                  </div>
                </section>

              </div>
            </div>



          </div>
        </section>

      </div>

    </div>

  </div>

</section>

<section id="tasksection2">
  <div class="container-fluid ">
    <div class="container-fluid leaveHeader">


    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight3" aria-labelledby="offcanvasRightLabel"
      (hide.bs.offcanvas)="hideOffCanvas()">
      <div class="offcanvas-header" style="justify-content: start; gap: 3em">
        <div class="d-flex align-items-center">
          <img src="assets/back.svg" alt="" height="10" class="me-2" srcset="" />
          <span class="backtext" type="button" data-bs-dismiss="offcanvas" aria-label="Close" id="closeOffCanvas">Back
          </span>
        </div>
        <h4 class="mb-0">Schedule Meeting</h4>
      </div>
      <div class="offcanvas-body">
        <form [formGroup]="meetingForm">
          <div class="mt-2">
            <label class="form-label">Group Name</label>
            <input type="text" rows="3" class="form-control form-control-lg" placeholder="title"
              formControlName="title" />
          </div>
          <div class="mt-2">
            <label class="form-label">Criteria</label>
            <input type="text" rows="3" class="form-control form-control-lg" placeholder="criteria"
              formControlName="criteria" />
          </div>
          <div class="mt-2">
            <label class="form-label">Description</label>
            <input type="text" rows="3" class="form-control form-control-lg" placeholder="description"
              formControlName="description" />
          </div>


          <div class="d-grid mt-3">
            <button class="btn background-color p-3" *ngIf="vissible" (click)="createGroup()">
              Submit
            </button>
            <button class="btn btn-primary p-3" onclick="updateMeeting()" *ngIf="isVissible">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>