<div class="section">
  <div class="content-wrapper">
    <div class="row mx-3">
      <div class="col-12 my-2">
        <button type="button" class="close bthnHover" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row mx-3">
      <div class=" col-md col-sm">
        <div class="d-flex align-items-center justify-content-between">
          <h3 style="margin: 0;color: #2155a3;font-weight: bolder;">Assign Survey</h3>
        </div>
      </div>
    </div>
    <div class="row mx-3 my-3">
      <div class="col-md col-sm">
        <select class="form-select form-select-sm mb-3 p-3" aria-label=".form-select-sm example"
          (change)="getsurveyId($event)">
          <option selected>Select Survey</option>
          <option value="" *ngFor="let item of surveyList?.data;" [value]="item?.id"
            [attr.data-table-name]="item?.tableName">
            {{item.survey_name}}</option>
        </select>
        <small
          *ngIf="assignSurveyForm.get('surveyId')?.hasError('required') && assignSurveyForm.get('surveyId')?.touched"
          class="text-danger">
          Survey name is required
        </small>
      </div>
    </div>
    <div class="" *ngIf="showstages">
      <div class="row mx-3 ">
        <div class="col-md col-sm">
          <select class="form-select form-select-sm mb-3 p-3" aria-label=".form-select-sm example"
            (change)="getStageId($event)">
            <option selected>Select stage</option>
            <option value="" *ngFor="let item of stageList?.dto" [value]="item.stageId">{{item?.stageName}}</option>
          </select>
          <small
            *ngIf="assignSurveyForm.get('stageId')?.hasError('required') && assignSurveyForm.get('stageId')?.touched"
            class="text-danger">
            Stage name is required
          </small>
        </div>
      </div>
    </div>
    <div class="" *ngIf="showSubphase">
      <div class="row mx-3">
        <div class="col-md col-sm">
          <select class="form-select form-select-sm mb-3 p-3" aria-label=".form-select-sm example"
            (change)="getSubStageId($event)">
            <option selected>Select employee experience phase</option>
            <option value="" *ngFor="let item of subphaseList" [value]="item?.subphaseId">{{item?.subPhaseName}}</option>
          </select>
          <small
            *ngIf="assignSurveyForm.get('subPhaseId')?.hasError('required') && assignSurveyForm.get('subPhaseId')?.touched"
            class="text-danger">
            employee experience phase is required
          </small>
        </div>
      </div>

      <div class="row mx-3">
        <div class="col-md col-sm p-3">
          <select class="form-select form-select-sm mb-3" aria-label="form-select-sm example"
            (change)="onOptionChange($event)">
            <option selected disabled>Please select</option>
            <option value="all">All</option>
            <option value="employee">Employee</option>
            <option value="group">Group</option>
          </select>
          <small
            *ngIf="assignSurveyForm.get('selectedOption')?.hasError('required') && assignSurveyForm.get('selectedOption')?.touched"
            class="text-danger">
            Please select a option
          </small>
        </div>
      </div>

      <div class="row mx-3" *ngIf="assignSurveyForm.get('selectedOption')?.value === 'employee'">
        <div class="col-md col-sm p-3">
          <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example"
            (change)="onEmployeeChange($event)">
            <option selected disabled>Select employee</option>
            <option value="" *ngFor="let user of allUser" [value]="user.id">{{user.name}}</option>
          </select>
          <small
            *ngIf="assignSurveyForm.get('clientEmployeesWithSurveys')?.hasError('required') && assignSurveyForm.get('clientEmployeesWithSurveys')?.touched"
            class="text-danger">
            Please select a employee
          </small>
        </div>
      </div>

      <div class="row mx-3" *ngIf="assignSurveyForm.get('selectedOption')?.value === 'group'">
        <div class="col-md col-sm p-3">
          <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example"
            (change)="onFocuseGroupChange($event)">
            <option selected disabled>Select focus group</option>
            <option value="" *ngFor="let group of allFocusGroup" [value]="group.focusGroup.id">
              {{group.focusGroup.title}}</option>
          </select>
          <small
            *ngIf="assignSurveyForm.get('clientEmployeesWithSurveys')?.hasError('required') && assignSurveyForm.get('clientEmployeesWithSurveys')?.touched"
            class="text-danger">
            Please select a focuse group
          </small>
        </div>
      </div>

      <div class="row mx-3">
        <div class="col-md col-sm">
          <input type="text" [(ngModel)]="whyThisIsImportant" placeholder="why this is important ?"
            class="w-100 form-control">
        </div>
      </div>
    </div>
  </div>

  <div class="button-container text-center">
    <button class="btn w-50" style="background-color: #2155a3; color: white;" (click)="AssignSuvreyTOclient()"
      [disabled]="surveyAssignSpinner"> <span *ngIf="surveyAssignSpinner" class="spinner-border spinner-border-sm"
        role="status" aria-hidden="true"></span> Assign</button>
  </div>
</div>
<!-- <div class="card text-center mt-5 py-3 border-0">
       <div class="card-header">
   Assign Survey 
       </div>
       <div class="card-body">
         
       </div>
       <div class="card-footer text-muted">
           <button type="button" class="border-0 btn btn-light" style="background-color: #2980b9;color: white;" (click)="assignSurvey()">Assign</button>
       </div>
     </div> -->
<!-- <div class="button-container text-right">
       <button class="btn p-4 py-1 blue-color text-white fs-2 w-100" style="margin-top: 3em;">Create User</button>
     </div>
    -->