<div class="container my-2">
    <div class="row ">
        <div class="col-lg col-md col-sm-12">

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Who is EXwise?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>EXwise is employee experience consultancy based in Hyderabad, India. We use data alongside our employee experience framework and organisation development techniques to create best-in-class experiences that positively impact employee engagement and business outcomes. </p> 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What is employee experience? 
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Employee experience is the overall perceptions and feelings an employee has about their experience within an organisation. It encompasses all aspects of the employee life cycle and when done well, employee experience can make a significant impact to how motivated and satisfied an employee is with their organisation</p> 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What is this activity for?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>There will be a number of activities taking place. These aim to understand the current employee experience within your organisation. The information from these activities will be collated in a diagnostic report. The report will be presented back to stakeholders and used to develop and design a new employee experience strategy. </p> 
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                           
Why should I participate?

                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>This is a great opportunity to shape the employee experience for yourself and the your colleagues – it’s a chance to have your say. Therefore, we encourage you to actively participate in the process. </p> 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            What kind of activities will I be taking part in?
                        </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>We use a number of different techniques including surveys, focus groups and interviews to understand the current employee experience. All employees will be invited to complete surveys and a representative proportion of the organisation will take part in focus group. You will be notified about which activities you will be taking part in</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            What kind of things will I be asked?
                        </button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>All questions will cover your experience as an employee. Some topics will be tenure related while others will be broader. Tenure based questions will focus on your current employee life cycle stage e.g., are you new to the organisation, in a development phase or well tenured. While the broader questions will explore topics such as organisation culture, the work you do, communication effectiveness, the working environment and so on. Importantly, there are no trick questions and no right or wrong answers – we are just seeking your opinion. </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            What happens to the information that I share?
                        </button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>All of the information shared will be collated into a diagnostic report that will be share with stakeholders. The report will inform the next steps to improve the current employee experience. This will often involve re-engaging with employees to co-create improvements.  </p> 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            Are my responses confidential?
                        </button>
                    </h2>
                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Confidentiality and anonymity will be assured for all survey types. For focus groups, EXwise will ensure that individuals cannot be identified in the final report ensuring anonymity however, you will be known to other focus group participants therefore, EXwise cannot guarantee that others in the group will respect the confidentiality of the group. We do however ask all participants to keep all comments made during the focus group confidential and not discuss what happened during the focus group outside the meeting. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                            Will my line manager have access to my survey responses?
                        </button>
                    </h2>
                    <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>No. All survey responses are anonymised within the EXwise surveying tool EXwise Insight. Furthermore, results will only be reported if there are more than 10 respondents in any one reporting category ensuring anonymity</p> 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                            How is my data stored?
                        </button>
                    </h2>
                    <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>All data is stored in compliance with India’s Digital Personal Data Protection Act (2023). While the EXwise Insight platform uses strong encryption and cloud based hosting to ensure all data is secure. </p> 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                            Do I have to take part?
                        </button>
                    </h2>
                    <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Taking part is completely optional however, we strongly recommend that you participate to ensure that you have a say in shaping your workplace</p> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>