.horizontal-timeline .items {
    border-top: 3px solid #e9ecef;
  }
  
  .horizontal-timeline .items .items-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
  }
  
  .horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
  }
  
  .horizontal-timeline .items .items-list .event-date {
    position: absolute;
    top: 36px; 
    left: 0;
    right: 0;
    /* height: 85px; */
    width: 85px;
    margin: 0 auto;
    font-size: 0.9rem;
    padding-top: 8px;
    /* border-radius: 50px; */
    /* text-align: center;
    vertical-align: middle; */
  }
  
  @media (min-width: 1140px) {
    .horizontal-timeline .items .items-list {
      display: inline-block;
      width: 24%;
      padding-top: 45px;
    }
  
    .horizontal-timeline .items .items-list .event-date {
      top: -40px;
    }
  }

  .bg-info1{
    background-color: #2155a3;

}

.blue-color{
  color: #2155a3;
}

.button-color{
  background-color: #2155a3;
}
.table-row {
  background-color: #ffffff;
  /* border-radius: 10px; */
  padding: 5px;
  margin-bottom: 5px;
  align-items: center;
  height: auto;
font-family: tinos-regular;
  font-weight: 400;
  font-size: 14px;
  border: solid .3px rgb(148, 148, 148);
}
.table-row:hover{
  border: 2px solid #70c4fe;
}
.tableCointainer .table-row:hover{
  border: 2px solid #70c4fe;
}
.row-head {
  height: 54px;
  font-weight: 500;

  font-size: 16px;
  background-color: #70c4fe;
}

.row-body {
  font-weight: 400;
  height: auto;
 
  text-align: center;
}

.row-head .col {
  text-align: center;
}

.material {
  display: inline-block;
  text-align: center;
}




button {
  border: none;
}




.tableCointainer {
  /* height: 50%;
  overflow-y: scroll !important; */
 

}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}

.boldColmn {
  font-weight: 400;
  position: relative;
  inset-inline: -1em;
}
.button1 {
  flex: 1;
  border-radius: 50px !important;
  /* background-color: #E5E4E2; */
  background-color: white;
  color: black;
  padding: 23px;
  font-size: medium;
  font-weight: bold;
}

button:hover {
  color: black;
}

.activeTab:hover {
  color: white;
}
.activeTab {
  background-color: #2155a3 !important;
  color: white;
  border: none;
  border-radius: 10px;
}