.blue-color{
    color: #2155a3;
  }

  .button-color{
    background-color: #2155a3;
  }

  .button-sky-color{
    background-color: #069DE0;
  }

  .table td,
  .table th {
    text-align: center;
    vertical-align: middle;
  }