.blue-color{
    color: #2155a3;
  }

  .background-color{
    background-color: #2155a3;
    color: white;
  }

  .icon-sky-color{
    color: #069de0;
  }

  .card{
    background-color: white;
    color: black;
    font-weight: bold;
    pointer-events: stroke;
    cursor: pointer;
    border: solid 1px #2155a3;
  }
  

  .card-container{
    background-color: #70c4fe;
    width: 270px;
    height: 130px;
    border: 1px solid #2155a3;
  }
  #tasksection {
    margin-inline: 20px;
    /* background-color: #f6f6f6; */
     padding-top: 1.5rem;
    padding: 1.5rem;
    /* height: 100vh; */
  }



.circle-wrap {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 115px;
  height: 115px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}


.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
} 

.shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}




.bottom-tab-bar {
  background-color: #f8f9fa;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tab-item {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

.tab-item:hover {
  background-color: #70c4fe;
  color: #fff;
  border-color: #70c4fe;
}

.tab-item.active {
  background-color: #2980b9;
  color: #fff;
  border-color: #2980b9;
}
