<section id="tasksection">
  <div class="container-fluid leaveHeader">
    <div class="row">
      <div class="col-lg col-md col-sm-12">
        <div class="d-flex align-items-center justify-content-between">
          <h3 style="margin: 0;color: #2155a3;font-weight: bolder;">Survey Dashboard</h3>
          <span class="blue-color font-weight-bold"> Project name : ABC</span>
          <span class="blue-color font-weight-bold ms-4">
            EXwise consultant : name</span>
        </div>
        <div class="row mt-3">

          <div class="col-xl-3 col-lg-2 col-md-4 col-12">
            <div class="card" (click)="getSurveyByStatus('total')">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title fs-5 text-uppercase fw-bold mb-2">Total survey</h5>
                    <span class="h2 font-weight-bold mb-0">{{total}}</span>
                  </div>
                  <div class="col-auto">
                      <circle-progress [percent]="total" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4"
                      [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                      [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-2 col-md-4 col-12">
            <div class="card" (click)="getSurveyByStatus('completed')">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title fs-5 text-uppercase fw-bold mb-2">Completed Survey</h5>
                    <span class="h2 font-weight-bold mb-0">{{total}}</span>
                  </div>
                  <div class="col-auto">
                      <circle-progress [percent]="completed" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4"
                      [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                      [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-2 col-md-4 col-12">
            <div class="card" (click)="getSurveyByStatus('pending')">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title fs-5 text-uppercase fw-bold mb-2">Pending Survey</h5>
                    <span class="h2 font-weight-bold mb-0">{{total}}</span>
                  </div>
                  <div class="col-auto">
                      <circle-progress [percent]="pending" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4"
                      [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                      [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-2 col-md-4 col-12">
            <div class="card" (click)="getSurveyByStatus('cancelled')">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title fs-5 text-uppercase fw-bold mb-2">Cancelled Survey</h5>
                    <span class="h2 font-weight-bold mb-0">{{total}}</span>
                  </div>
                  <div class="col-auto">
                      <circle-progress [percent]="cancelled" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4"
                      [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                      [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

<div class="row">
  <!-- <div class="col-xl-12 col-md-12 col-12 mt-3">
        <div class="main-content">
          <div class="container"> -->
  <!-- <div class="row mt-4" *ngIf="show">
              <div class="col">
                <h3 class="font-weight-bold ms-3"style="color: #2155a3;" *ngIf="show">All Surveys</h3>
              </div>
              <div class="col d-flex justify-content-end align-items-center mb-2 pb-3">
        
                <div class="me-4">
                  <button class="py-2 px-4 rounded background-color shadow border-0" (click)="openPopup()">Add Survey</button>
                </div>
                <div class="filter-container me-5"*ngIf="show">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search by name">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary background-color" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  
            </div>
          </div> -->

  <!-- <div class="row">
              <div class="col-xl-12 col-md-12 col-12"> -->

  <!-- <div class="row d-flex justify-content-center align-items-center h-100" *ngIf="sendSurvey">
                      <div class="col col-md-6 col-lg-3 col-xl-3">
                        <div class="card" style="border-radius: 15px; background-color: #ffff;">
                          <div class="card-body p-4 text-black">
                            <div>
                             
                              <div class="d-flex align-items-center justify-content-between mb-3">
                                <p class="small mb-0" (click)="infoDetails()"><i class="fa fa-info-circle me-2"></i>{{items?.status}}</p>
                                <p class="fw-bold mb-0">...</p>
                              </div>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                              <div class="flex-grow-1 ms-3">
                                <div class="d-flex flex-row align-items-center mb-2">
                                  <p class="mb-0 me-2">Modified:{{items?.startDate|date}}</p>
                        
                                </div>
                             
                              </div>
                            </div>
                           
                            <button  class="btn btn-rounded btn-block btn-lg" style="background-color: #2155a3;color: white;" (click)="check()"><i
                                class="fa fa-paper-plane me-2" ></i>assign now</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  -->
  <!-- <div class="card shadow">
                
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead style="background-color: #70c4fe;">
                        <tr>
                          
                          
                          <th scope="col">Survey name</th>
                          <th scope="col">Survey type</th>
                          <th scope="col">Survey description</th>
                          <th scope="col">Created date</th>
                          <th scope="col">Created by</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of items">
                          <th scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm">{{item.name}}</span>
                              </div>
                            </div>
                          </th>

                          <td>
                            {{item.type}}
                          </td>
                          <td>{{item.description}}</td>
                          <td>{{item.date}}</td>
                          <td>{{item.createdby}}</td>
                          <td>
                            <span class="badge badge-dot mr-4">
                              <i class="bg-warning"></i> {{item.status}}
                            </span>
                          </td>
                        
                          
                         
                            <td>
                              <i class="fas fa-edit fa-lg icon-sky-color"></i>
                              <i class="fas fa-trash-alt ms-3 fa-lg blue-color"></i>                    
                          </td>
                       
                        </tr>
                     
                      </tbody>
                    </table>
                  </div>
                 
                </div> -->

  <!-- <div class="row d-flex justify-content-center align-items-center h-100" *ngIf="send">
                  <div class="col col-md-6 col-lg-3 col-xl-3" *ngFor="let item of share">
                    <div class="card" style="border-radius: 15px; background-color: #ffff;">
                      <div class="card-body p-4 text-black">
                        <div>
                         
                          <div class="d-flex align-items-center justify-content-between mb-3">
                            <p class="small mb-0"><i class="fa fa-info-circle me-2"></i>{{item.name}}</p>
                            <p class="fw-bold mb-0">...</p>
                          </div>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                          <div class="flex-shrink-0">
                          
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <div class="d-flex flex-row align-items-center mb-2">
                              <p class="mb-0 me-2">Modified:20/12/2024</p>
                    
                            </div>
                         
                          </div>
                        </div>
                       
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-rounded btn-block btn-lg"><i
                            class="fa fa-paper-plane me-2" onclick="assignSurvey()"></i>Assign now</button>
                      </div>
                    </div>
                  </div>
                </div> -->

  <!-- <div class="row d-flex justify-content-center align-items-center h-100" *ngIf="assign">
                      <mat-form-field>
                        <mat-label>Toppings</mat-label>
                        <mat-select [formControl]="toppings" multiple>
                          <mat-select-trigger>
                            {{toppings.value?.[0] || ''}}
                            @if ((toppings.value?.length || 0) > 1) {
                              <span class="example-additional-selection">
                                (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                              </span>
                            }
                          </mat-select-trigger>
                          @for (topping of toppingList; track topping) {
                        <mat-option [value]="topping">{{topping}}</mat-option>
                      }
                        </mat-select>
                      </mat-form-field>
                      <div class="col-md-12 col-xl-4" *ngFor="let item of sharesurvey">
                
                        <div class="card" style="border-radius: 15px;">
                          <div class="card-body text-center">
                            <div class="mt-3 mb-4">
                              <img src="../../../../../assets/images/user.jpg"
                                class="rounded-circle img-fluid" style="width: 100px;" />
                            </div>
                            <h4 class="mb-2"style="color:#2155a3;font-weight:bold;font-family:poppins">{{item.name}}</h4>
                         
                          </div>
                        </div>
                
                      </div>
                    </div>
                  -->

  <!-- </div>
            </div>
          
          </div>
        </div> -->
  <!-- </div>
    </div> -->
  <!-- <section *ngIf="info" >
     
      <div class="container py-5">
       
    
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <circle-progress [percent]="25" [radius]="130" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4"
                [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                <h5 class="my-3">Survey Name</h5>
                <p class="text-muted mb-1">Engagement Score : 20</p>
                <p class="text-muted mb-4">Participation Rate : 30%</p>
                <div class="d-flex justify-content-center mb-2">
                  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn background-color">Edit</button>
                  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary blue-color ms-1">Delete</button>
                </div>
              </div>
            </div>
           
          </div>
          <div class="col-lg-8">
            <div class="card mb-4 "style="border-radius: 15px;">
              
              <div class="card-body p-4">
                <h3 class="mb-3">Survey Name</h3>
                <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span> Created by
                  <strong>Priyanka</strong> on 11 April , 2021</p>
                <hr class="my-4">
                <div class="d-flex justify-content-start align-items-center">
                  <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                      class="text-muted small">settings</span></p>
                  <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                      class="text-muted small">Survey link</span></p>
                  <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
                      class="text-muted small"> More</span>
                    <span class="ms-3 me-4">|</span></p>
                  <a href="#!">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
                      class="img-fluid rounded-circle me-3" width="35">
                  </a>
                  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark btn-sm btn-floating">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
       
            <div class="row">
              <div class="col-md-6">
                
              </div>
              <div class="col-md-6">
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <router-outlet></router-outlet>
    <footer class="bottom-tab-bar">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-auto">
            <a routerLink="./surveylist" routerLinkActive="active" class="tab-item">Survey</a>
          </div>
          <div class="col-auto">
            <a routerLink="./stage" routerLinkActive="active" class="tab-item">Stage</a>
          </div>
          <div class="col-auto">
            <a routerLink="./subphase" routerLinkActive="active" class="tab-item">Subphase</a>
          </div>
        </div>
      </div>
    </footer>
    
</div>