<div class="container" *ngIf="showcontainer==='create-project'">
    <div class="row">
        <form [formGroup]="createForm" (submit)="createProject()" class="w-100">
            <div class="col-12 mt-2">
                <h2 class="font-weight-bold" style="display: inline; color: #2155a3;">{{buttonName + ' client'}}</h2>
                <button type="button" class="close mt-2 bthnHover" aria-label="Close" (click)="onClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-sm-12 p-4">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="" class="label-control">Client name</label>
                        <input type="text" class="form-control" formControlName="client_Name"
                            placeholder="Enter client name">
                        <small class="p-0">
                            <p *ngIf="createForm.get('client_Name')?.touched && createForm.get('client_Name')?.hasError('required')"
                                class="text-danger">
                                Client name is required
                            </p>
                        </small>

                        <label for="" class="label-control mt-4">Contact person</label>
                        <input type="text" class="form-control" formControlName="contact_Person"
                            placeholder="Enter contact person">
                        <small class="p-0">
                            <p *ngIf="createForm.get('contact_Person')?.touched && createForm.get('contact_Person')?.hasError('required')"
                                class="text-danger">
                                Contact person is required
                            </p>
                        </small>

                        <label for="consultantId" class="label-control mt-4">EXwise consultant</label>
                        <select id="consultantId" class="form-select" formControlName="consultantId">
                            <option value="" disabled selected>Please select</option>
                            <option [value]="data.id" *ngFor="let data of consultants">{{ data.name }}</option>
                        </select>


                        <label for="" class="label-control mt-4">Location</label>
                        <input type="text" class="form-control" formControlName="location" placeholder="Enter location">

                        <label for="" class="label-control mt-4" *ngIf="buttonName==='Update'">Change status</label>
                        <select class="form-select" formControlName="status" *ngIf="buttonName==='Update'">
                            <option value="" selected disabled>Please select</option>
                            <option value="new">New</option>
                            <option value="open">Open</option>
                            <option value="closed">Closed</option>
                            <!-- <option value="pending">Pending</option> -->
                        </select>

                    </div>
                    <div class="col-sm-6">
                        <label for="" class="label-control mt-4 mt-sm-0">Client email ID</label>
                        <input type="text" class="form-control" formControlName="contact_Email"
                            placeholder="Enter email ID">
                        <small class="p-0">
                            <p *ngIf="createForm.get('contact_Email')?.touched && createForm.get('contact_Email')?.hasError('required')"
                                class="text-danger">
                                Email is required
                            </p>
                            <p *ngIf="createForm.get('contact_Email')?.hasError('pattern')" class="text-danger">
                                Invalid Email Id
                            </p>
                        </small>

                        <label for="" class="label-control mt-4">Contact number</label>
                        <input type="text" class="form-control" formControlName="contact_Phone"
                            (keypress)="isNumber($event)" placeholder="Enter contact number">
                        <small class="p-0">
                            <p *ngIf="createForm.get('contact_Phone')?.touched && createForm.get('contact_Phone')?.hasError('required')"
                                class="text-danger">
                                Contact number is required
                            </p>
                            <p *ngIf="createForm.get('contact_Phone')?.hasError('pattern')" class="text-danger">
                                Invalid contact number
                            </p>
                        </small>

                        <!-- <label for="" class="label-control mt-4">Industry</label>
                        <input type="text" class="form-control" formControlName="industry" placeholder="Enter industry"> -->

                        <label for="" class="label-control mt-4">Industry</label>
                        <select name="" id="" class="form-select" formControlName="industry">
                            <option value="" selected disabled>Please select industry</option>
                            <option value="Agriculture and Farming">Agriculture and Farming</option>
                            <option value="Automotive">Automotive</option>
                            <option value="Construction and Engineering">Construction and Engineering</option>
                            <option value="Consulting and Professional Services">Consulting and Professional Services
                            </option>
                            <option value="Education and Training">Education and Training</option>
                            <option value="Energy and Utilities">Energy and Utilities</option>
                            <option value="Entertainment and Media">Entertainment and Media</option>
                            <option value="Finance and Banking">Finance and Banking</option>
                            <option value="Food and Beverage">Food and Beverage</option>
                            <option value="Government and Public Administration">Government and Public Administration
                            </option>
                            <option value="Healthcare">Healthcare</option>
                            <option value="Hospitality">Hospitality</option>
                            <option value="Legal Services">Legal Services</option>
                            <option value="Manufacturing">Manufacturing</option>
                            <option value="Marketing and Advertising">Marketing and Advertising</option>
                            <option value="Non-profit and Social Services">Non-profit and Social Services</option>
                            <option value="Real Estate">Real Estate</option>
                            <option value="Retail">Retail</option>
                            <option value="Technology and Software">Technology and Software</option>
                            <option value="Transportation and Logistics">Transportation and Logistics</option>
                            <option value="Other">Other</option>
                        </select>
                        <small class="p-0">
                            <p *ngIf="createForm.get('industry')?.touched && createForm.get('industry')?.hasError('required')"
                                class="text-danger">
                                Indusrty is required
                            </p>
                        </small>

                        <label for="" class="label-control mt-4">Additional information</label>
                        <input type="text" class="form-control" formControlName="additional_Information"
                            placeholder="Enter additional information">
                    </div>

                </div>
            </div>

            <div class="col-12 mt-4 text-right pe-4">
                <button class="btn px-4 py-2 blue-color text-white">{{buttonName}}</button>
            </div>
        </form>
    </div>

</div>


<div class="container" *ngIf="showcontainer==='create-user'">
    <div class="row">
        <div class="col-12 mt-2">
            <h2 class="font-weight-bold" style="display: inline; color: #2155a3;">Create User</h2>
            <button type="button" class="close mt-2" aria-label="Close" (click)="onClose()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="col-12 p-4">
            <label for="" class="label-control">First name</label>
            <input type="text" class="form-control" placeholder="Enter first name">

            <label for="" class="label-control mt-4">Last name</label>
            <input type="text" class="form-control" placeholder="Enter last name">

            <label for="" class="label-control mt-4">Contact number</label>
            <input type="text" class="form-control" placeholder="Enter contact number">

            <label for="" class="label-control mt-4">User email</label>
            <input type="text" class="form-control" placeholder="Enter email">

            <label for="" class="label-control mt-4">Password</label>
            <input type="text" class="form-control" placeholder="Enter password">

            <button class="btn p-4 py-1 blue-color text-white fs-2 w-100" style="margin-top: 3em;">Create User</button>

        </div>


        <!-- <div class="col-12 mt-auto text-right pe-4">
            
        </div> -->
    </div>
</div>