<!-- <p>forgotpassword works!</p> -->

<div class="container-fluid">
    <div class="row" style="height: 100vh;">
        <div class="col-md-5 col-sm-12">
            <div class="text-center">
                <img src="assets\images\exwiselogo.png" alt="" class="exwise-logo">
            </div>
            <div class="text-center heading-tag">
                <h1>Forgot your password</h1>
                <h5>please enter the email address you'd like your password <br><span>reset information sent to</span>
             </h5>
            </div>

            <div class="container" [formGroup]="loginForm">
                <div *ngIf="getOtp">
                    <label for="" class="font-weight-bold">Enter email address<address></address></label>
                    <div class="w-100">
                        <input type="text" formControlName="emailId" placeholder="email@gmail.com"
                            class="border-0 form-control bg-light">
                    </div>
                    <div class="mt-4">
                        
                        <button type="button" (click)="submit()" class="btn btn-primary py-2 w-100 button-style">Request to Get
                            OTP</button>
                    </div>
                </div>


                <div *ngIf="showOtp">
                    
  <label for="" class="font-weight-bold">Enter OTP</label>
  <div style="margin-inline-start: 6rem;">
    <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)" (fill)="handleFillEvent($event)"></ngx-otp-input>
  </div>

  <div style="margin-top: 1em;">
    <button type="button" (click)="resetPassword()" class="btn btn-primary py-2 w-100 button-style">Verify OTP</button>
  </div>
</div>



<div *ngIf="showPassword">
  <form class="form-signin needs-validation" novalidate>
    <div class="card shadow-sm">
      <div class="card-body">

       

        <div class="form-group">
          <div class="form-group">
            <label class="sr-only" for="newPassword">New Password</label>
            <div class="input-group">
              <input name="newPassword" type="password" autocomplete="off" class="form-control form-control-sm" id="newPassword" placeholder="New Password" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please enter new password.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="confirmPassword">Confirm Password</label>
          <div class="input-group">
            <input name="confirmPassword" type="password" autocomplete="off" class="form-control form-control-sm" id="confirmPassword" placeholder="Confirm Password" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Password not a match.
            </div>
          </div>
        </div>

        <button id="submitBtn" class="btn btn-md btn-primary btn-block" type="submit" (click)="updatePassword()">reset</button>

      </div>
    </div>
  </form>
</div>





                <div class="text-center pb-sm-3 span-style">
                    <span class="span-text">
                        <span>Unable to access your email?</span><span class="font-weight-bold">Contact our support team
                            here</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 image-container">
            <img src="assets\images\exwise-circle.png" alt="" class="overlay-image"
                style="font-family: 'Epilogue', sans-serif;">
        </div>
    </div>
</div>