



  <section class="mt-3 vh-100">
    <div class="row table-row row-head gx-0">
      <div class="col ">Client Name</div>
      <div class="col ">Conatct number</div>
      <div class="col ">Client Email</div>
      <div class="col ">Phase</div>
      <div class="col ">Action</div>
    </div>
    <div class="tableCointainer">
      <div
        class="row gx-0 table-row row-body px-0 "
        *ngFor="let item of pinClients"
     
      >
      <div class="col">{{ item.clientName }} </div>
        <div class="col">
          <div class="material">
            <div class="col"> {{ item.contactPhone }}</div>
          </div>
        </div>
        <div class="col ">
          {{ item.contactEmail }}
         
        </div>
        <div class="col">{{ item.phaseName }}</div>
  
      <div class="col">     <button mat-icon-button [matMenuTriggerFor]="menu" class="ellipsis-button" (click)="openMenu($event)">
        <mat-icon class="ellipsis-icon">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="custom-menu rounded-lg">
        <button mat-menu-item (click)="pinClient(item.id)">
          <mat-icon>compare_arrows</mat-icon>
          <span>Change Phase</span>
        </button>
        <button mat-menu-item (click)="editClient(item.id)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteClient(item.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item (click)="unpinClient(item.id)">
          <mat-icon>push_pin</mat-icon>
          <span>Unpin</span>
        </button>
      </mat-menu></div>
    </div>
    </div>
  </section>