<div class="row bg-light">
    <div class="col-9 mt-3">
      <h2 class="ms-4 blue-color font-weight-bold">Create survey</h2>
    </div>
    <div class="col-3 mt-4">
      <span class="blue-color font-weight-bold"> Project name : ABC</span>
      <span class="blue-color font-weight-bold ms-4"> EXwise consultant : name</span>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 mt-4">
            <label for="">Survey name</label>
            <input type="text" class="form-control bg-light" placeholder="Survey name">
        </div>
        <div class="col-md-6 col-sm-12 mt-4">
            <label for="">Survey type</label>
            <input type="text" class="form-control bg-light" placeholder="Survey type">
        </div>
        <div class="col-md-6 col-sm-12 mt-4">
            <label for="">Company name</label>
            <input type="text" class="form-control bg-light" placeholder="Company name">
        </div>
        <div class="col-md-6 col-sm-12 mt-4">
            <label for="">Email</label>
            <input type="text" class="form-control bg-light" placeholder="Email">
        </div>
        <div class="col-md-6 col-sm-12 mt-4">
            <label for="">Start date</label>
            <input type="date" class="form-control bg-light">
        </div>
        <div class="col-md-6 col-sm-12 mt-4">
            <label for="">End date</label>
            <input type="date" class="form-control bg-light" placeholder="Survey name">
        </div>
        <div class="col-md-6 col-sm-12 mt-4">
            <label for="">City</label>
            <input type="text" class="form-control bg-light" placeholder="City">
        </div>
        <div class="col-md-6 col-sm-12 mt-4">
            <label for="">Country employee will be working from</label>
            <input type="text" class="form-control bg-light" placeholder="India">
        </div>
        <div class="col-md-6 col-sm-12 mt-4">
            <textarea name="" id=""  rows="4" class="w-100 form-control" placeholder="Description"></textarea>
        </div>
        <div class="col-md-6 col-sm-12 mt-4 bg-light rounded">
            <div class="d-flex align-items-center">
                <i class="fas fa-plus p-4 mt-4 ms-4 text-white" style="background-color: #70c4fe;"></i>
                <div class="d-flex flex-column mt-4 ms-2 w-100">
                    <label for="">Related documents</label>
                    <input type="file" class="form-control bg-white" placeholder="India">
                    <!-- <div class="input-group"> <input type="file" class="form-control bg-white" placeholder="India">
                        <input type="file" class="form-control bg-white" placeholder="India">
                        <div class="input-group-append">
                          <span class="input-group-text bg-white"><i class="fas fa-file border-0"></i></span>
                        </div>
                      </div>
                     -->
                </div>
            </div>
                      
        </div>
        <div class="mt-5 text-center">
            <button class="py-2 px-4 border-0 button-color rounded text-white me-4">
                Create survey
            </button>
            <button class="py-2 px-5 border-0 button-sky-color rounded text-white">
                Cancel
            </button>
        </div>
    </div>
</div>
