<div class="container my-2">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row mt-5">
                <div class="row">
                    <div id="chart">
                        <apx-chart
                          [series]="chartOptionsage?.series!"
                          [chart]="chartOptionsage?.chart!"
                          [dataLabels]="chartOptionsage?.dataLabels!"
                          [plotOptions]="chartOptionsage?.plotOptions!"
                          [xaxis]="chartOptionsage?.xaxis!"
                          [yaxis]="chartOptionsage?.yaxis!"
                          [stroke]="chartOptionsage?.stroke!"
                          [fill]="chartOptionsage?.fill!"
                          [title]="chartOptionsage?.title!"
                          [tooltip]="chartOptionsage?.tooltip!"
                          [legend]="chartOptionsage?.legend!"
                          [colors]="chartOptionsage?.colors!"
                        ></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row mt-5">
                <div class="row">
                    <div id="chart">
                        <apx-chart
                          [series]="chartOptionsTenure?.series!"
                          [chart]="chartOptionsTenure?.chart!"
                          [dataLabels]="chartOptionsTenure?.dataLabels!"
                          [plotOptions]="chartOptionsTenure?.plotOptions!"
                          [xaxis]="chartOptionsTenure?.xaxis!"
                          [yaxis]="chartOptionsTenure?.yaxis!"
                          [stroke]="chartOptionsTenure?.stroke!"
                          [fill]="chartOptionsTenure?.fill!"
                          [title]="chartOptionsTenure?.title!"
                          [tooltip]="chartOptionsTenure?.tooltip!"
                          [legend]="chartOptionsTenure?.legend!"
                          [colors]="chartOptionsage?.colors!"
                        ></apx-chart>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="row mt-4">
                <div id="chart">
                    <apx-chart
                      [series]="chartOptionsGender?.series!"
                      [chart]="chartOptionsGender?.chart!"
                      [title]="chartOptionsGender?.title!"
                      [tooltip]="chartOptionsGender?.tooltip!"
                      [legend]="chartOptionsGender?.legend!"
                      [labels]="chartOptionsGender?.labels!"
                    ></apx-chart>
                  </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row mt-4">
                <div id="chart">
                    <apx-chart
                      [series]="chartOptionsWorkFlexibility?.series!"
                      [chart]="chartOptionsWorkFlexibility?.chart!"
                      [title]="chartOptionsWorkFlexibility?.title!"
                      [tooltip]="chartOptionsWorkFlexibility?.tooltip!"
                      [legend]="chartOptionsWorkFlexibility?.legend!"
                      [labels]="chartOptionsWorkFlexibility?.labels!"
                    ></apx-chart>
                  </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row mt-4">
                <div id="chart">
                    <apx-chart
                      [series]="chartOptionsContractType?.series!"
                      [chart]="chartOptionsContractType?.chart!"
                      [title]="chartOptionsContractType?.title!"
                      [tooltip]="chartOptionsContractType?.tooltip!"
                      [legend]="chartOptionsContractType?.legend!"
                      [labels]="chartOptionsContractType?.labels!"
                    ></apx-chart>
                  </div>
            </div>
        </div>
    </div>
</div>