<!-- <div class="container">
    <div class="row">
        <div class="col mt-2">
            <h3 class="font-weight-bold" style="color: #2155a3;">All Surveys</h3>
        </div>
        <div class="col d-flex justify-content-end align-items-center mb-2 pb-3">

            <div class="mt-2">
                <button class="py-2 px-4 rounded text-white button-color shadow border-0"(click)="openPopup()">Create
                    Survey</button>
            </div>
        </div>
        <table class="table  align-middle">
            <thead>
              <tr>
                <th scope="col">Survey name</th>
                <th scope="col">Survey type</th>
                <th scope="col">Survey description</th>
                <th scope="col">Created date</th>
                <th scope="col">Created by</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of surveyList" class="row-clickable">
                <td >{{item.survey_name | titlecase}}</td>
                <td>{{item.survey_Type | titlecase}}</td>
                <td>{{item.survey_description | titlecase }}</td>
                <td>{{item.created_date  | date}}</td>
                <td>Created By</td>
                <td>{{item.status | titlecase}}</td>
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="menu" class="ellipsis-button">
                    <mat-icon class="ellipsis-icon">more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" class="custom-menu rounded-lg">
                    <button mat-menu-item (click)="editSurvey(item.id)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteSurvey(item.id)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                    <button mat-menu-item (click)="pinSurvey(item.id)">
                      <mat-icon>push_pin</mat-icon>
                      <span>Pin</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>
              
            </tbody>
          </table>

       
    </div>
</div>

 -->

 <!-- <div class="container-fluid">
  <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col">
          <h3 class="mt-2" style="color: #2155a3; font-family: poppins; font-weight: 900;">All Surveys</h3>
      </div>
      <div class="col d-flex justify-content-end align-items-center mb-2">
          <div>
              <button class="py-2 px-4 rounded text-white button-color shadow border-0"(click)="openPopup()">Create
                  Survey</button>
          </div>  
      </div>
      <section class="mt-3 container-fluid px-2">
        <div class="row table-row row-head gx-0">
          <div class="col fw-bold">Survey name</div>
          <div class="col fw-bold">Survey type</div>
          <div class="col fw-bold">Survey description</div>
          <div class="col fw-bold">Created date</div>
     
          <div class="col fw-bold">Status</div>
          <div class="col fw-bold">Action</div>
        </div>
        <div class="tableCointainer">
          <div
            class="row gx-0 table-row row-body px-0 "
            *ngFor="let item of surveyList" 
         
          >
          <div class="col">{{item.survey_name | titlecase}} </div>
          <div class="col">{{item.survey_Type | titlecase}}</div>
            <div class="col">
              <div class="material">
                <div class="col"> {{item.survey_description | titlecase }}</div>
              </div>
            </div>
            <div class="col">{{item.created_date  | date}}</div>
            <div class="col d-flex flex-column align-items-center" style="font-family: poppins; overflow: hidden;">
              <span *ngIf="item.status=='Active'" class="badge badge-success rounded-pill d-inline">{{item.status | titlecase}}</span>
              <span *ngIf="item.status==='Inactive'" class="badge badge-danger rounded-pill d-inline">{{item.status | titlecase}}</span>
            </div>
            
            
          <div class="col"> 
            <button class="border-0 m-2 " style="font-size:20px" (click)="editSurvey(item.id)"> <i class="fa fa-pencil"
              style="color: gray;"></i></button>
          <button class="border-0 m-2 " style="font-size:20px" (click)="deleteSurvey(item.id)"> <i
              class="fa fa-trash" style="color: gray;"></i></button>
          </div>
        </div>
        </div>
      </section>
      </div>
    </div>
</div> -->


<div class="container vh-100">
  <div class="row ">
      <div class="col ">
          <h3 class="font-weight-bold" style="color: #2155a3;font-family: poppins;">All Surveys</h3>
      </div>
      <div class="col mb-3 d-flex justify-content-end align-items-center">

         
              <button class="py-2 px-4 rounded text-white button-color shadow border-0"(click)="openPopup()">Create
                  Survey</button>
         
        
      </div>
    
        <section class="">
          <div class="row table-row row-head gx-0">
            <div class="col fw-bold">Survey name</div>
            <div class="col fw-bold">Survey type</div>
            <div class="col fw-bold">Survey description</div>
            <div class="col fw-bold">Created date</div>
       
            <div class="col fw-bold">Status</div>
            <div class="col fw-bold">Action</div>
          </div>
          <div class="tableCointainer">
            <div
              class="row gx-0 table-row row-body px-0 "
              *ngFor="let item of surveyList" 
           
            >
            <div class="col">{{item.survey_name | titlecase}} </div>
            <div class="col">{{item.survey_Type | titlecase}}</div>
              <div class="col">
                <div class="material">
                  <div class="col"> {{item.survey_description | titlecase }}</div>
                </div>
              </div>
              <div class="col">{{item.created_date  | date}}</div>
              <div class="col d-flex flex-column align-items-center" style="font-family: poppins; overflow: hidden;">
                <span *ngIf="item.status=='Active'" class="badge badge-success rounded-pill d-inline">{{item.status | titlecase}}</span>
                <span *ngIf="item.status==='Inactive'" class="badge badge-danger rounded-pill d-inline">{{item.status | titlecase}}</span>
              </div>
              
              
            <div class="col"> 
              <button class="border-0 m-2 " style="font-size:20px" (click)="editSurvey(item.id)"> <i class="fa fa-pencil"
                style="color: gray;"></i></button>
            <button class="border-0 m-2 " style="font-size:20px" (click)="deleteSurvey(item.id)"> <i
                class="fa fa-trash" style="color: gray;"></i></button>
            </div>
          </div>
          </div>
        </section>
        
  </div>
</div>