



    <div class="container my-2">
      <div class="row">
        <div class="col-lg col-md col-sm-12">
          <div class="d-flex align-items-center justify-content-between">
            <h3 style="margin: 0;color: #2155a3;font-weight: bolder;font-family: poppins;">Questions Dashboard</h3>
            <!-- <span class="blue-color font-weight-bold"style="font-family: poppins;font-weight: 700;"> Project Name : ABC</span>
            <span class="blue-color font-weight-bold ms-4"style="font-family: poppins;font-weight: 700;">
              EXwise Consultant : name</span> -->
          </div>
          <div class="row mt-3">
  
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
              <div class="card" (click)="getQuestionByStatus('mcq')">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title fs-5 text-uppercase fw-bold mb-2" style="font-family: poppins;">MCQ</h5>
                      <span class="h2 font-weight-bold mb-0">20</span>
                    </div>
                    <div class="col-auto">
                        <circle-progress [percent]="20" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4"
                        [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                        [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
              <div class="card" (click)="getQuestionByStatus('descriptive')">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title fs-5 text-uppercase fw-bold mb-2"style="font-family: poppins;">Descriptive</h5>
                      <span class="h2 font-weight-bold mb-0">20</span>
                    </div>
                    <div class="col-auto">
                        <circle-progress [percent]="20" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4"
                        [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                        [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
              <div class="card" (click)="getQuestionByStatus('mcqdescriptive')">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title fs-5 text-uppercase fw-bold mb-2"style="font-family: poppins;">MCQ Descriptive</h5>
                      <span class="h2 font-weight-bold mb-0">20</span>
                    </div>
                    <div class="col-auto">
                        <circle-progress [percent]="20" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4"
                        [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                        [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col  "style="vertical-align:middle">
            <h3 class="font-weight-bold" style="color: #2155a3;font-family: poppins;vertical-align: middle;">All Questions</h3>
        </div>
        <div class="col d-flex justify-content-end align-items-center ">
                <button class="py-2 px-4 rounded text-white button-color shadow border-0"(click)="addQuestion()">Create
                    Question</button>

        </div>
      </div>
      <section class=" vh-100 ">
        <div class="row table-row row-head gx-0">
          <div class="col fw-bold">Questions</div>
          <div class="col fw-bold">Max weightage</div>
          <div class="col fw-bold">Date of Creation</div>
          <div class="col fw-bold">Status</div>
        </div>
        <div class="tableCointainer">
          <div
            class="row gx-0 table-row row-body px-0 "
            *ngFor="let data of data" 
         
          >
          <div class="col">{{data.question | titlecase}}</div>
            <div class="col">
              <div class="material">
                <div class="col"> {{data.maxWeightage | number}}</div>
              </div>
            </div>
            <div class="col">
              {{data.created_date | date}}
             
            </div>
            <div class="col">{{data.status | titlecase}}</div>
      
         
        </div>
        </div>
      </section>
    </div>


  
  
  
