<div class="row bg-light" style="height: 5em">
    <div class="col-9 mt-3">
      <h2 class="ms-4 blue-color font-weight-bold">Client Projects</h2>
    </div>
    <!-- <div class="col-3 mt-4">
      <span class="blue-color font-weight-bold"> Project name : ABC</span>
      <span class="blue-color font-weight-bold ms-4"> EXwise consultant : name</span>
    </div> -->
  </div>
  
  <div class="row">
    <div class="card card-container mt-4" style="margin-left: 3em;">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="mt-4 font-weight-bold">New</h3>
          <h2>5</h2>
        </div>
        <div class="col-md-6">
          <circle-progress [percent]="75" [radius]="45" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4 mt-2"
            [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
            [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
        </div>
      </div>
    </div>
    <div class="card card-container mt-4" style="margin-left: 4em;">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="mt-4 font-weight-bold">Open</h3>
          <h2>10</h2>
        </div>
        <div class="col-md-6">
          <circle-progress [percent]="75" [radius]="45" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4 mt-2"
            [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
            [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
        </div>
      </div>
    </div>
    <div class="card card-container mt-4" style="margin-left: 4em;">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="mt-4 font-weight-bold">Closed</h3>
          <h2>15</h2>
        </div>
        <div class="col-md-6">
          <circle-progress [percent]="75" [radius]="45" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4 mt-2"
            [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
            [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
        </div>
      </div>
    </div>
    <div class="card card-container mt-4" style="margin-left: 4em;">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="mt-4 font-weight-bold">Pending</h3>
          <h2>5</h2>
        </div>
        <div class="col-md-6">
          <circle-progress [percent]="75" [radius]="45" [outerStrokeWidth]="10" [innerStrokeWidth]="10" class="mb-4 mt-2"
            [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
            [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="row">
    <mat-tab-group class="mt-2">
      <mat-tab label="Recent">
        <div class="container mt-4">
          <table class="table">
            <thead>
              <tr style="background-color: #70c4fe;">
                <th>Project Name</th>
                <th>Conatct number</th>
                <th>Client Email</th>
                <th>Last Opened By You</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr routerLink="/superadmin/project">
                <td>Project 1</td>
                <td>123-456-7890</td>
                <td>email.com</td>
                <td>5:50 Pm</td>
                <td>
                  <i class="fas fa-ellipsis-v ms-4"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Pinned"> Pinned </mat-tab>
    </mat-tab-group>
  </div>