
  

  <div class="container my-2">
    <div class="row ">
      <div class="col-lg col-md col-sm-12">
        <div class="d-flex align-items-center justify-content-between">
          <h3 style="margin: 0;color: #2155a3;font-weight: bolder; ">Client Dashboard</h3>
          <!-- <span class="blue-color font-weight-bold"style="font-family: poppins;font-weight: 700;"> Project Name : ABC</span>
          <span class="blue-color font-weight-bold ms-4"style="font-family: poppins;font-weight: 700;">
            EXwise Consultant : name</span> -->
        </div></div>
    </div>
    <div class="row row-cols-1 row-cols-sm-4  justify-content-center info-card">
      <!-- <div class="row  ps-4 pe-4"> -->
            
        <div class="col" (click)="getClientsByStatus('New')">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center">
                  <h5 class="card-title  fs-6 text-uppercase fw-bold mb-2">New</h5>
                  <h5 class="card-title fs-6 fw-bold">{{newCount}}</h5>
                  <!-- <span class="h2 font-weight-bold mb-0" sty>{{newCount}}</span> -->
                </div>
                <div class="col-auto">
                    <circle-progress [percent]="newCount" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                    [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col" (click)="getClientsByStatus('Open')">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center">
                  <h5 class="card-title fs-6 text-uppercase fw-bold mb-2">Open</h5>
                  <h5 class="card-title fs-6 fw-bold">{{openCount}}</h5>
                  <!-- <span class="h2 font-weight-bold mb-0">{{openCount}}</span> -->
                </div>
                <div class="col-auto">
                    <circle-progress [percent]="openCount" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                    [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col" (click)="getClientsByStatus('Closed')">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center">
                  <h5 class="card-title fs-6 text-uppercase fw-bold  mb-2">Closed</h5>
                  <h5 class="card-title fs-6 fw-bold">{{closedCount}}</h5>
                  <!-- <span class="h2 font-weight-bold mb-0">{{closedCount}}</span> -->
                </div>
                <div class="col-auto">
                    <circle-progress [percent]="closedCount" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                    [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col" (click)="getClientsByStatus('Pending')">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center">
                  <h5 class="card-title fs-6 text-uppercase fw-bold  mb-2">Pending</h5>
                  <h5 class="card-title fs-6 fw-bold">{{pendingCount}}</h5>
                  <!-- <span class="h2 font-weight-bold mb-0">{{pendingCount}}</span> -->
                </div>
                <div class="col-auto">
                    <circle-progress [percent]="pendingCount" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                    [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
      <!-- </div> -->
  
    </div>
  </div>
 
  

  <div class="container">
    <div class="nav nav-tabs  border-0" id="nav-tab" style="gap: 2em">
      <button
        class="w-15 col-3 nav-item nav-link"
        routerLink="./recent"
        routerLinkActive="activeTab"
      >
     Recent
      </button>
      <button
        class="w-15 col-3 nav-item nav-link"
        routerLink="./pinned"
        routerLinkActive="activeTab"
      >
      Pinned
      </button>
    </div>
  
    <router-outlet></router-outlet>
  </div>
  

