<section>
<div class="card">
    <div class="card-body">
        <div class="enclosingDiv">
            <h2>Update profile</h2>
            <form [formGroup]="updateRecordsForm">
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-file-person-fill"></i></span>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
                        </div>
                        <small class="p-0">
                            <p *ngIf="updateRecordsForm.get('name')?.touched && updateRecordsForm.get('name')?.hasError('required')" class="text-danger text-end">
                                Name is required
                            </p>
                        </small>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                            <input type="text" class="form-control" formControlName="contactNumber" placeholder="Enter contact number">
                        </div>
                        <small class="p-0">
                            <p *ngIf="updateRecordsForm.get('contactNumber')?.touched && updateRecordsForm.get('contactNumber')?.hasError('required')" class="text-danger text-end">
                                Contact number is required
                            </p>
                        </small>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-envelope-at-fill"></i></span>
                            <input type="text" class="form-control" formControlName="email" placeholder="Enter email id">
                        </div>
                        <small class="p-0">
                            <p *ngIf="updateRecordsForm.get('email')?.touched && updateRecordsForm.get('email')?.hasError('required')" class="text-danger text-end">
                                Email id is required
                            </p>
                        </small>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                            <input type="text" class="form-control" formControlName="city" placeholder="Enter workplace location">
                        </div>
                        <small class="p-0">
                            <p *ngIf="updateRecordsForm.get('city')?.touched && updateRecordsForm.get('city')?.hasError('required')" class="text-danger text-end">
                                Workplace location is required
                            </p>
                        </small>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person-vcard"></i></span>
                            <input type="text" class="form-control" formControlName="jobType" placeholder="Enter job type">
                        </div>
                        <small class="p-0">
                            <p *ngIf="updateRecordsForm.get('jobType')?.touched && updateRecordsForm.get('jobType')?.hasError('required')" class="text-danger text-end">
                                Job type is required
                            </p>
                        </small>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person-square"></i></span>
                            <!-- <input type="text" class="form-control" formControlName="jobType" placeholder="Enter job type"> -->
                            <select name="" id="" class="form-select" formControlName="departmentName" placeholder="Select department name">
                                <option value="" disabled selected>Please select Department</option>
                                <option *ngFor="let item of departmentOptions" [value]="item">{{item}}</option>
                              </select>
                        </div>
                        <small class="p-0">
                            <p *ngIf="updateRecordsForm.get('departmentName')?.touched && updateRecordsForm.get('departmentName')?.hasError('required')" class="text-danger text-end">
                                Department name is required
                            </p>
                        </small>
                    </div>
                </div>
                <mat-dialog-actions style="justify-content: end" class="mt-3">
                    <div class="btn-group" role="group">
                        <button mat-button (click)="onNoClick()" class="noThanks">No thanks</button>
                        <button mat-button (click)="onSubmit()" class="updateButton" 
                            [disabled]="formDataMatched || updateRecordsForm.invalid" 
                            [ngStyle]="{'opacity':(formDataMatched || updateRecordsForm.invalid)?'0.5':'1'}">Update
                        </button>
                    </div>
                  </mat-dialog-actions>
              </form>
        </div>
    </div>
</div>
</section>

