<!-- <div class="container">
    <div class="col-lg-12 mt-2">
        <h3 style="display: inline; color: #2155a3; font-weight: 700;">Employee Touchpoints</h3>
        <button type="button" class="close bthnHover" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div> -->

<mat-stepper>
    <mat-step label="Reality & Qulity">

        <div class="container">
            <div class="row mt-2 justify-content-center">
                <div class="col-md-12">
                    <div class="survey-container">
                        <div class="card mt-2 bg-light" style="background-color: #70c4fe;">
                            <div class="card-body">
                                <div class="card mb-4" style="background-color: #70c4fe;">
                                    <h3 class="card-title text-center mb-0"
                                        style="font-weight: bold; color: #2155a3; font-family: Times New Roman;">Reality
                                        & Quality</h3>
                                </div>
                                <p>Here instruction</p>
                            </div>
                        </div>
                        <div class="card mt-2" *ngFor="let item of realityQuality; let i = index">
                            <div class="card-body">
                              <h4 class="card-title" style="font-weight: 600;">{{ i + 1 }}. {{ item.componentName }} <span class="text-danger">*</span></h4>
                              <div class="row mb-2">
                                <div class="col-6 col-md-4">
                                  <div class="form-check mt-1">
                                    <input class="form-check-input" type="radio" name="{{ 'yes_no_' + i }}" id="{{ 'yes_' + i }}" value="Yes" (change)="onOptionChange(item, 'yes_no', 'Yes')">
                                    <label class="form-check-label" for="{{ 'yes_' + i }}">Yes</label>
                                  </div>
                                </div>
                                <div class="col-6 col-md-4">
                                  <div class="form-check mt-1">
                                    <input class="form-check-input" type="radio" name="{{ 'yes_no_' + i }}" id="{{ 'no_' + i }}" value="No" (change)="onOptionChange(item, 'yes_no', 'No')">
                                    <label class="form-check-label" for="{{ 'no_' + i }}">No</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="d-flex mt-3 justify-content-center">

                            <span class="me-4 fs-6 font-weight-bold">Overall Quality</span>

                            <div class="form-check">
                                <input type="radio" class="form-check-input">
                                <label for="" class="form-check-label me-2 fs-6">Good</label>
                            </div>

                            <div class="form-check">
                                <input type="radio" class="form-check-input">
                                <label for="" class="form-check-label me-2 fs-6">Fair</label>
                            </div>

                            <div class="form-check">
                                <input type="radio" class="form-check-input">
                                <label for="" class="form-check-label me-2 fs-6">poor</label>
                            </div>
                        </div>
                        <div>
                            <label for="" class="fs-6 font-weight-bold">Add Notes</label>
                            <textarea name="" id="" rows="10" class="w-100" placeholder="Add notes here"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button mat-button matStepperNext class="text-white border-0"
                style="background-color: #2155a3;">Next</button>
        </div>
    </mat-step>
    <mat-step label="EX Foundation Touchpoint">
        <div class="container">
            <div class="row mt-2 justify-content-center">
                <div class="col-md-12">
                    <div class="survey-container">
                        <div class="card mt-2 bg-light" style="background-color: #70c4fe;">
                            <div class="card-body">
                                <div class="card mb-4" style="background-color: #70c4fe;">
                                    <h3 class="card-title text-center mb-0"
                                        style="font-weight: bold; color: #2155a3; font-family: Times New Roman;">EX
                                        Foundation Touchpoints</h3>
                                </div>
                                <p>Here instruction</p>
                            </div>
                        </div>
                        <div class="card mt-2" *ngFor="let item of extouchpoints; let i = index">
                            <div class="card-body">
                              <h4 class="card-title" style="font-weight: 600;">{{ i + 1 }}. {{ item.touchpoints }} <span class="text-danger">*</span></h4>
                              
                              <div class="row mb-3">
                                <h4 class="col-12">Present</h4>
                                <div class="col-md-4">
                                  <div class="form-check mt-1">
                                    <input class="form-check-input" type="radio" name="{{ 'yes_no_' + i }}" id="{{ 'yes_' + i }}" value="Yes" (change)="onOptionChange(item, 'yes_no', 'Yes')">
                                    <label class="form-check-label" for="{{ 'yes_' + i }}">Yes</label>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-check mt-1">
                                    <input class="form-check-input" type="radio" name="{{ 'yes_no_' + i }}" id="{{ 'no_' + i }}" value="No" (change)="onOptionChange(item, 'yes_no', 'No')">
                                    <label class="form-check-label" for="{{ 'no_' + i }}">No</label>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="row mb-3">
                                <h4 class="col-12">Automated</h4>
                                <div class="col-md-4">
                                  <div class="form-check mt-1">
                                    <input class="form-check-input" type="radio" name="{{ 'automated_' + i }}" id="{{ 'fully_' + i }}" value="Fully" (change)="onOptionChange(item, 'automated', 'Fully')">
                                    <label class="form-check-label" for="{{ 'fully_' + i }}">Fully</label>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-check mt-1">
                                    <input class="form-check-input" type="radio" name="{{ 'automated_' + i }}" id="{{ 'partial_' + i }}" value="Partial" (change)="onOptionChange(item, 'automated', 'Partial')">
                                    <label class="form-check-label" for="{{ 'partial_' + i }}">Partial</label>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-check mt-1">
                                    <input class="form-check-input" type="radio" name="{{ 'automated_' + i }}" id="{{ 'manual_' + i }}" value="Manual" (change)="onOptionChange(item, 'automated', 'Manual')">
                                    <label class="form-check-label" for="{{ 'manual_' + i }}">Manual</label>
                                  </div>
                                </div>
                              </div>
                          
                              <div class="row mb-2">
                                <h4 class="col-12 mb-2">Internal Owner</h4>
                                <div class="d-flex flex-wrap">
                                  <div class="form-check mt-3 me-3" *ngFor="let owner of internalOwners">
                                    <input class="form-check-input" type="checkbox" name="{{ 'owner_' + i }}" id="{{ owner + '_' + i }}" [value]="owner" (change)="onOwnerChange(item, owner, $event)">
                                    <label class="form-check-label me-3" for="{{ owner + '_' + i }}">{{ owner }}</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>    
                        <!-- <div class="card mt-2" *ngFor="let item of extouchpoints; let i = index">
                            <div class="card-body">
                                <h4 class="card-title" style="font-weight: 600;">{{ i + 1 }}. {{ item.touchpoints }}
                                    <span class="text-danger">*</span></h4>
                                <div class="row mb-2">
                                    <div class="col-md-4" *ngFor="let option of question.options; let j = index">
                                        <div class="form-check mt-3">
                                            <input class="form-check-input" type="radio" name="{{ 'question_' + i }}"
                                                id="{{ 'option_' + j }}" value="{{ option }}">
                                            <label class="form-check-label" for="{{ 'option_' + j }}">{{ option
                                                }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="text-center mt-4">
                            <button class="button-color text-white border-0 py-2 px-4 rounded"
                                >Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button mat-button matStepperPrevious class="text-white border-0"
                style="background-color: #2155a3;">Back</button>
        </div>
    </mat-step>
</mat-stepper>