<div class="container vh-100">
    <div class="row ">
        <div class="col ">
            <h3 class="font-weight-bold" style="color: #2155a3;font-family: poppins;">All Surveys</h3>
        </div>
        <div class="col mb-3 d-flex justify-content-end align-items-center">

           
                <button class="py-2 px-4 rounded text-white button-color shadow border-0"(click)="openPopup()">Create
                    Survey</button>
           
          
        </div>
      
          <section class="">
            <div class="row table-row row-head gx-0">
              <div class="col fw-bold">Survey Name</div>
              <div class="col fw-bold">Survey Description</div>
              <div class="col fw-bold">Created Date</div>
              <div class="col fw-bold">Status</div>
              <div class="col fw-bold">Add Question</div>
              <div class="col fw-bold">Action</div>
            </div>
            <div class="tableCointainer">
              <div
                class="row gx-0 table-row row-body px-0 "
                *ngFor="let item of surveyList"
             
              >
              <div class="col">{{item.survey_name | titlecase}} </div>
                <div class="col">
                  <div class="material">
                    <div class="col"> {{item.survey_description | titlecase }}</div>
                  </div>
                </div>
                <div class="col ">
                 
                  {{item.created_date  | date}}
                </div>
                <div class="col">{{item.status | titlecase}}</div>
          
              <div class="col">     <button  class="border-0 btn btn-light ellipsis-button3" style="background-color: #2980b9;color: white;" (click)="openPopupQuestion(item.id)">
                Add Question
              </button></div>
              <div class="col">     <button mat-icon-button [matMenuTriggerFor]="menu" class="ellipsis-button" >
                <mat-icon class="ellipsis-icon">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="custom-menu rounded-lg">
                <button mat-menu-item (click)="editSurvey(item.id)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="deleteSurvey(item.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
                <!-- <button mat-menu-item (click)="openPopupQuestion(item.id)">
                  <mat-icon>comment</mat-icon>
                  <span>Assign question</span>
                </button> -->
               
              </mat-menu></div>
            </div>
            </div>
          </section>
          
    </div>
</div>


