<div class="container">
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12 mt-2">
            <h2 class="font-weight-bold blue-color" style="display: inline;">Add question</h2>
            <button type="button" class="close" aria-label="Close" (click)="onClose()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="mt-4 px-5 py-4 bg-light">
                <h3 class="blue-color font-weight-bold">Enter Question</h3>
                <textarea name="" id="" cols="20" rows="5" class="form-control" formControlName="question"
                    placeholder="Question"></textarea>
            </div>

            <div class="mt-4 ms-5">
                <label class="blue-color font-weight-bold">Enter max weightage for question</label>
                <input type="number" placeholder="Enter max weightage for question"
                    class="form-control border-grey w-75" formControlName="maxWeightage" (keypress)="isNumber($event)">
            </div>
            <div class="mt-5 ms-5">
                <h3 class="font-weight-bold blue-color">Type of Question ?</h3>
                <div class="ms-5 font-weight-bold">
                    <div class="mt-4">
                        <input type="radio" class="form-check-input" value="mcq" name="mcq"
                            (change)="updateSelection('mcq')" checked>
                        <label class="form-check-label">
                            MCQ
                        </label>
                    </div>

                    <div class="mt-4">
                        <input type="radio" class="form-check-input" value="descriptive" name="mcq"
                            (change)="updateSelection('descriptive')">
                        <label class="form-check-label">
                            Descriptive
                        </label>
                    </div>

                    <div class="mt-4">
                        <input type="radio" class="form-check-input" value="both" name="mcq"
                            (change)="updateSelection('both')">
                        <label class="form-check-label">
                            MCQ & Descriptive
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" *ngIf="selectedOption === 'mcq'">
            <div class="text-center mt-4">
                <h3 class="font-weight-bold text-color">Select option you want to show with question</h3>
            </div>
            <div class="form-check ms-5">
                <input class="form-check-input" type="checkbox" value="" style="width: 18px; height: 18px;"
                [checked]="selectAllChecked" (change)="toggleSelectAll()">
                <label class="form-check-label font-weight-bold m-1 blue-color">
                    Select all
                </label>
            </div>
            <div style="margin-inline-start: 40%">
                <div class="form-check mt-4" *ngFor="let option of options">
                    <input class="form-check-input" type="checkbox" value="" [checked]="option.checked"
                        (change)="updateSelectAll()">
                    <label class="form-check-label font-weight-bold m-1 blue-color">
                        {{ option.label }}
                    </label>
                </div>
            </div>
            <!-- <div class="text-center mt-5">
                <button class="px-5 py-2 border-0 rounded button-color text-white">Add Question</button>
            </div> -->
        </div>
        <div class="col-md-6 col-sm-12" *ngIf="selectedOption === 'descriptive'">
            <div class="mt-4 px-5 py-4 bg-light">
                <h3 class="blue-color font-weight-bold">Enter Answer</h3>
                <textarea name="" id="" cols="20" rows="30" class="form-control" placeholder="Question"
                    style="height: 60vh;"></textarea>
            </div>
            <!-- <div class="text-center mt-2">
                <button class="px-5 py-2 border-0 rounded button-color text-white">Enter answer</button>
            </div> -->
        </div>
        <div class="col-md-6 col-sm-12" *ngIf="selectedOption === 'both'">
            <div class="text-center mt-4">
                <h3 class="font-weight-bold text-color">Select option you want to show with question</h3>
            </div>
            <div class="form-check ms-5">
                <input class="form-check-input" type="checkbox" value="" style="width: 18px; height: 18px;"
                    [(ngModel)]="selectAllChecked" (change)="toggleSelectAll()">
                <label class="form-check-label font-weight-bold m-1 blue-color">
                    Select all
                </label>
            </div>
            <div style="margin-inline-start: 20%">
                <div class="row">
                    <div class="col">
                        <ng-container *ngFor="let chunk of options.slice(0, 3)">
                            <div class="form-check mt-4">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="chunk.checked"
                                    (change)="updateSelectAll()">
                                <label class="form-check-label font-weight-bold m-1 blue-color">
                                    {{ chunk.label }}
                                </label>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col">
                        <ng-container *ngFor="let chunk of options.slice(3)">
                            <div class="form-check mt-4">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="chunk.checked"
                                    (change)="updateSelectAll()">
                                <label class="form-check-label font-weight-bold m-1 blue-color">
                                    {{ chunk.label }}
                                </label>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="mt-4 px-4 py-4 bg-light">
                <h3 class="blue-color font-weight-bold">Enter Answer</h3>
                <textarea name="" id="" cols="20" rows="5" class="form-control" placeholder="Answer"></textarea>
            </div>
        </div>
    </div>
    <div class="text-right mt-4 button-container">
        <button class="px-5 py-2 border-0 rounded button-color text-white">Add Question</button>
    </div>
</form>
</div>



<!-- <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto mt-4">
                <select name="" id="" class="w-100 p-2 rounded">
                    <option value="" selected disabled>Select Survey</option>
                    <option value="">Survey 1</option>
                    <option value="">Sirvey 2</option>
                </select>
            </div>
            <div class="col-md-4 mx-auto mt-4">
                <select name="" id="" class="w-100 p-2 rounded" [disabled]="stage">
                    <option value="" selected disabled>Select Stage</option>
                    <option value="">Stage 1</option>
                    <option value="">Stage 2</option>
                </select>
            </div>
            <div class="col-md-4 mx-auto mt-4">
                <select name="" id="" class="w-100 p-2 rounded" [disabled]="subphase">
                    <option value="">Select Subphase</option>
                    <option value="">Subphase 1</option>
                    <option value="">Subphase 2</option>
                </select>
            </div>
        </div>
    </div> -->



<!--     
    <h3 class="font-weight-bold mt-4 blue-color mx-auto col-md-9" *ngIf="enteredQuestions.length!>0">All Questions</h3>
    <div class="row mt-2 me-1 ms-1">
        <div class="col-md-9 mx-auto" *ngFor="let question of enteredQuestions; let i = index">
          <div class="card bg-light">
            <div class="card-body d-flex justify-content-between align-items-center">
              <div>{{ question }}</div>
              <button class="btn btn-md btn-link blue-color" (click)="removeQuestion(i)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="text-right col-md-9 mx-auto">
            <button type="button" class="border-0 mt-4 py-2 px-4 button-color shadow rounded text-white" *ngIf="enteredQuestions.length > 0">Save</button>
        </div>
      </div>
      

    <div class="container">
        <div class="row mt-5">
          <div class="col-md-9 mx-auto">
            <div class="card bg-light">
              <div class="card-body">
                <div class="input-group mb-3 mt-3">
                  <div class="font-weight-bold mt-2">Q1</div>
                  <input type="text" class="p-2 ms-2"style="width: 60%;" [(ngModel)]="questionText" placeholder="Enter your question">
                  <select class="p-2" style="width: 25%;" id="dropdownMenuButton" (change)="showContainer($event)">
                    <option selected>Type of question</option>
                    <option value="multichoice">Multiple Choice</option>
                    <option value="descriptive">Descriptive</option>
                    <option value="both">Mutiple choice & Descriptive</option>
                  </select>
                  <button class="px-3 ms-5 border-0 button-color text-white rounded" (click)="openPopup()">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card bg-light">
                    <div class="card-body" *ngIf="showContent==='multichoice'">
                        <div class="text-center">
                            <h3 class="font-weight-bold text-color">Select option you want to show with question</h3>
                        </div>
                        <div class="form-check ms-5">
                            <input class="form-check-input" type="checkbox" value="" style="width: 18px; height: 18px;" [(ngModel)]="selectAllChecked" (change)="toggleSelectAll()">
                            <label class="form-check-label font-weight-bold m-1 blue-color">
                              Select all
                            </label>
                        </div>
                        <div style="margin-inline-start: 40%">
                            <div class="form-check mt-3"  *ngFor="let option of options">
                                <input class="form-check-input" type="checkbox" value="" [(ngModel)]="option.checked" (change)="updateSelectAll()">
                                <label class="form-check-label font-weight-bold blue-color">
                                    {{ option.label }}
                                </label>
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <button class="px-5 py-2 border-0 rounded button-color text-white" (click)="addQuestion()">Add Question</button>
                        </div>
                    </div>


                    <div class="card-body" *ngIf="showContent==='descriptive'">
                        <div class="px-5 py-2 bg-light">
                            <h3 class="blue-color font-weight-bold">Enter Answer</h3>
                            <textarea name="" id="" cols="20" rows="30" class="form-control" placeholder="Answer" style="height: 60vh;"></textarea>
                        </div>
                        <div class="text-center mt-2">
                            <button class="px-5 py-2 border-0 rounded button-color text-white" (click)="addQuestion()">Add Question</button>
                        </div>
                    </div>

                    <div class="card-body" *ngIf="showContent==='both'">
                        <div class="text-center mt-4">
                            <h3 class="font-weight-bold text-color">Select option you want to show with question</h3>
                        </div>
                        <div class="form-check ms-5">
                            <input class="form-check-input" type="checkbox" value="" style="width: 18px; height: 18px;" [(ngModel)]="selectAllChecked" (change)="toggleSelectAll()">
                            <label class="form-check-label font-weight-bold m-1 blue-color">
                              Select all
                            </label>
                        </div>
                        <div style="margin-inline-start: 20%">
                            <div class="row">
                                <div class="col">
                                    <ng-container *ngFor="let chunk of options.slice(0, 3)">
                                        <div class="form-check mt-4">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="chunk.checked" (change)="updateSelectAll()">
                                            <label class="form-check-label font-weight-bold m-1 blue-color">
                                                {{ chunk.label }}
                                            </label>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="col">
                                    <ng-container *ngFor="let chunk of options.slice(3)">
                                        <div class="form-check mt-4">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="chunk.checked" (change)="updateSelectAll()">
                                            <label class="form-check-label font-weight-bold m-1 blue-color">
                                                {{ chunk.label }}
                                            </label>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 px-4 py-4 bg-light">
                            <h3 class="blue-color font-weight-bold">Enter Question</h3>
                            <textarea name="" id="" cols="20" rows="5" class="form-control" placeholder="Answer"></textarea>
                        </div>
                        <div class="text-center mt-4">
                            <button class="px-5 py-2 border-0 rounded button-color text-white"(click)="addQuestion()">Add Question</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
       -->