.blue-color{
    color: #2155a3;
    font-family: poppins;
  }

  .button-color{
    background-color: #2155a3;
  }

  
.text-color{
    color: #069DE0;
    font-family: poppins;
}
  

input,select {
  outline: none;
}

.bthnHover:hover{
  background-color: gray;
  border-radius: 50px;
  
    }
    .bthnHover{
      height: 25px;
  width:25px;
  background-color: gainsboro;
  border-radius: 50px;
    }
/* input:focus,select:focus {
  outline: #2155a3 auto
} */

.button-container {
  position: absolute;
  bottom: 40px;
  right: 40px; 
}

