<div class="container">
    <div class="row my-2">

        <div class="col-12 ">
            <!-- <h2 class="" style="display: inline; color: #2155a3; ">Create Matrix</h2> -->
            <button type="button" class="close bthnHover" aria-label="Close" (click)="onClose()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form action="" [formGroup]="createForm">
            <div class="col-sm-12 p-2">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="" class="label-control">Matrix Name</label>
                        <input type="text" class="form-control" formControlName="metricsName"
                            placeholder="Enter Matrix Name">
                        <small class="p-0">
                            <p *ngIf="createForm.get('metricsName')?.touched && createForm.get('metricsName')?.hasError('required')"
                                class="text-danger">
                                Matrix Name is required
                            </p>
                        </small>

                        <label for="" class="label-control mt-2">Value</label>
                        <input type="text" class="form-control" formControlName="value" placeholder="Enter value">
                        <small class="p-0">
                            <p *ngIf="createForm.get('value')?.touched && createForm.get('value')?.hasError('required')"
                                class="text-danger">
                                Value is required
                            </p>
                        </small>

                        <label for="" class="label-control mt-2">Frequency Of Data Collection</label>
                        <select name="" id="" class="form-select" formControlName="frequencyOfDataCollection">
                            <option value="Weeakly">Weeakly</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Yearly">Yearly</option>

                        </select>


                        <label for="" class="label-control mt-2">Calculations Or Defination</label>
                        <input type="text" class="form-control" formControlName="calculationsOrDefination"
                            placeholder="Enter Calculations">
                    </div>
                    <div class="col-sm-6 ">
                        <label for="" class="label-control ">Due Date</label>
                        <input type="date" class="form-control " formControlName="nextDataDueDate">
                        <small class="p-0">
                            <p *ngIf="createForm.get('nextDataDueDate')?.touched && createForm.get('nextDataDueDate')?.hasError('required')"
                                class="text-danger">
                                Due Date is required
                            </p>

                        </small>
                        <label for="" class="label-control mt-2 ">Additional Information</label>
                        <input type="text" class="form-control" formControlName="additionalInformation"
                            placeholder="Enter Additional Information">
                        <small class="p-0">
                            <p *ngIf="createForm.get('additionalInformation')?.touched && createForm.get('additionalInformation')?.hasError('required')"
                                class="text-danger">
                                Additional Information is required
                            </p>

                        </small>



                        <label for="" class="label-control mt-2">phaseId</label>
                        <select name="" id="" class="form-select" formControlName="phaseId">
                            <option value="1">phase 1</option>
                            <option value="2">phase 2</option>
                            <option value="3">phase 3</option>

                        </select>

                    </div>
                </div>
            </div>
            <hr>

            <label for="">Add Historic Data</label>

            <select class="form-select dropdown form-select-sm" formControlName="selectedOption">
                <option value="" disabled selected>Please select</option>
                <option value="manually">Manually Add</option>
                <option value="excel">Excel File</option>
            </select>

            <div *ngIf="createForm.get('selectedOption')?.value === 'manually'">

                <div class="table-responsive ">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>
                                    <button class="btn btn-primary border-0" (click)="addRow()">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </th>
                                <!-- <th>
                                    <label class="form-label">Data</label>
                                </th> -->
                            </tr>
                        </thead>
                        <tbody formArrayName="historicData">
                            <div *ngFor="let item of historicData().controls; let i = index" [formGroupName]="i">
                                <tr>
                                    <td>
                                        <h1>
                                            <button class="btn btn-danger" (click)="deleteRow(i)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </h1>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" formControlName="monthYear" placeholder="Add Month"
                                                    class="form-control" />
                                            </div>
                                            <div class="col">
                                                <input type="text" formControlName="value" placeholder="Add Value"
                                                    class="form-control" />
                                            </div>
                                        </div>
                                        <div>
                                            <small>
                                                <h6 class="text-danger" *ngIf="
                                          item.get('historicData')?.hasError('required') &&
                                          item.get('historicData')?.touched
                                        ">
                                                    Data {{ i + 1 }} is Required
                                                </h6>
                                            </small>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div class="col  d-flex justify-content-center align-self-center">
                                <button class="p-2 rounded button-color text-white shadow border-0">ADD
                                    Data</button>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>

            <div *ngIf="createForm.get('selectedOption')?.value === 'excel'">

                <div class="mt-2">

                    <button class="btn button-color text-white addHoliday" type="button" (click)="holidayFile.click()">
                        <i class="fa fa-file"></i>
                        Browse File
                    </button>
                    <p></p>
                    <ng-container>
                        <p>Selected file: {{ file.name }}</p>
                        <p *ngIf="!isSelectedFileValid" style="color: red">
                            ( Error: Only .xlsx/.xls files permitted )
                        </p>
                        <button *ngIf="isSelectedFileValid" class="btn button-color text-white addHoliday" type="button"
                            (click)="uploadFile()">
                            <i class="fa-solid fa-upload fa-xl" style="margin-inline-end: 0.5em"></i>
                            Upload selected file
                        </button>
                    </ng-container>
                    <input #holidayFile style="display: none" type="file" (change)="onFileBrowse($event)"
                        accept=".xls,.xlsx" />
                </div>
            </div>
        </form>
        <button class="p-2 rounded button-color text-white shadow border-0" (click)="createProject()">{{buttonName}}</button>

    </div>
</div>