
.addDots{
  background-position:  bottom 0px right 0px;
  background-repeat: no-repeat;
  background-size: 148px 148px;
    background-image: url('../../../../assets/dots.png');
  }

  .dot-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 35%;
    height: 30%;
    position: absolute;
    left:16.5px;
    bottom: 5px;
    z-index: -100;
  
    > div {
      position: relative;
      > div {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #2155a3;
        position: absolute;
        bottom: 0;
      }
    }
  }

  /* @media (max-width: 1199.98px) {
    .image-column,
    .form-column {
      flex: 0 0 100%;
      max-width: 100%;
    }
  } */
  
  @media (max-width: 767.99px) {
    .image-column {
      display: flex;
      justify-content: center;
    }
  }