<!-- <div class="container-fluid">
    <div class="row" style="height: 100vh;">
        <div class="col-md-5 col-sm-12">
            <div class="text-center">
                <img src="assets\images\exwiselogo.png" alt="" class="exwise-logo">
            </div>
            <div class="text-center heading-tag">
                <h1>Sign In</h1>
            </div>

            <div class="container" [formGroup]="loginForm">
                <div *ngIf="!showOtp">
                    <label for="" class="font-weight-bold">Email</label>
                    <div class="w-100">
                        <input type="text" formControlName="emailId" placeholder="email@gmail.com"
                            class="border-0 form-control bg-light">
                    </div>
                    <div class="mt-4">
                        <button type="button" (click)="submit()" class="btn btn-primary py-2 w-100 button-style">Get
                            OTP</button>
                    </div>
                </div>


                <div *ngIf="showOtp">
                    <label for="" class="font-weight-bold">Enter OTP</label>
                    <div style="margin-inline-start: 6rem;">
                        <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)"
                            (fill)="handleFillEvent($event)">
                        </ngx-otp-input>
                    </div>

                    <div style="margin-top: 1em;">
                        <button type="button" (click)="submit()"
                            class="btn btn-primary py-2 w-100 button-style">Sign In</button>
                    </div>
                </div>



                <div class="text-center pb-sm-3 span-style">
                    <span class="span-text">
                        <span>Unable to access your email?</span><span class="font-weight-bold">Contact our support team
                            here</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 image-container">
            <img src="assets\images\exwise-circle.png" alt="" class="overlay-image"
                style="font-family: 'Epilogue', sans-serif;">
        </div>
    </div>
</div> -->


<section class="vh-100">
    <div class="container">
      <nav class="py-4">
        
            <img src="assets\images\exwiselogo.png" alt="" width="50%" height="" />
      
      </nav>
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6 ">
         
          <div class="container mx-5 " [formGroup]="loginForm">
            
         
            <div *ngIf="!showOtp" class="mx-5">
                <h3 class=" text-center mb-5" style="color: #2155a3;font-weight:500;font-size: x-large;">Sign In</h3>
                <label for="" class="font-weight-bold">Email</label>
                <div class="w-100">
                    <input type="text" formControlName="emailId" placeholder="email@gmail.com"
                        class="border-0 form-control bg-light">
                </div>
                <div class="mt-4">
                    <button type="button" (click)="submit()" class="btn  text-light py-2 w-100 button-style" style="background-color: #2155a3;">Get
                       OTP </button>
                </div>
            </div>


            <div *ngIf="showOtp" class="mx-5">
                <h3 class=" text-center mb-3" style="color: #2155a3;font-weight:500;font-size: x-large;">OTP Verification</h3>
                <!-- <label for="" class="text-center">OTP Verification</label> -->
                <p class="card-text mb-4 mx-2">
                   One Time Password(OTP) has been sent via Email to <b>abcgmail.com</b> Enter the OTP below to verify it.
                  </p>
                  <!-- <p>Enter the OTP below to verify it.</p> -->
                <div style="margin-inline-start: 8rem;">
                    <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)"
                        (fill)="handleFillEvent($event)">
                    </ngx-otp-input>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 d-flex justify-content-center">
                      
                    </div>
            
                    <div class="col-md-6 d-flex justify-content-center">
                      <!-- Simple link -->
                      <!-- <a>Resend Otp</a> -->
                    </div>
                  </div>
                <div style="margin-top: 1em;">
                    <button type="button mb-2" (click)="submit()"
                        class="btn py-2 text-light w-100 button-style" style="background-color: #2155a3;">Sign In</button>
                </div>
            </div>



            <div class="text-center pb-sm-3 mt-3  span-style">
                <span class="span-text">
                    <span>Unable to access your email?</span><span class="font-weight-bold">Contact our support team
                        here</span>
                </span>
            </div>
        </div>
          
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 addDots">
          <img src="assets\images\login.png"
          class="img-fluid rounded-pill" alt="Phone image" style="border: solid 20px #2155a3;">
        </div>
      </div>
    </div>
  </section>
