<!-- <div class="container my-2">
  <div class="row " >
    <div class="col-lg col-md col-sm-12">
      <div class="d-flex align-items-center justify-content-between">
        <h3 style="margin: 0;color: #2155a3;font-weight: bolder;">Client Dashboard</h3>
        <span class="blue-color font-weight-bold"style="font-weight: 700;"> Project Name : ABC</span>
        <span class="blue-color font-weight-bold ms-4"style="font-weight: 700;">
          EXwise Consultant : name</span>
      </div></div>
  </div>
  <div class="row row-cols-1 row-cols-sm-4  justify-content-center info-card">
    <div class="col" (click)="getClientsByStatus('attract')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col  align-self-center">
              <h5 class="card-title  fs-6 text-uppercase fw-bold mb-2">Attract</h5>
              <h5 class="card-title fs-6 fw-bold">{{attract}}</h5>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="attract" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
              [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col" (click)="getClientsByStatus('develop')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col  align-self-center">
              <h5 class="card-title  fs-6 text-uppercase fw-bold mb-2">Develop</h5>
              <h5 class="card-title fs-6 fw-bold">{{develop}}</h5>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="develop" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
              [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" (click)="getClientsByStatus('retain')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col  align-self-center">
              <h5 class="card-title  fs-6 text-uppercase fw-bold mb-2">Retain</h5>
              <h5 class="card-title fs-6 fw-bold">{{retain}}</h5>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="retain" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
              [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" (click)="getClientsByStatus('seperate')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col  align-self-center">
              <h5 class="card-title  fs-6 text-uppercase fw-bold mb-2">Separate</h5>
              <h5 class="card-title fs-6 fw-bold">{{seperate}}</h5>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="seperate" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
              [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="mt-2">
    <div class="nav nav-tabs d-flex border-0 " id="nav-tab" style="gap: 2em">
      <button class="w-100 nav-item nav-link" routerLink="./phase-one" routerLinkActive="activeTab">
        Phase 1
      </button>
      <button class="w-100 nav-item nav-link" routerLink="./phase-two" routerLinkActive="activeTab">
        Phase 2
      </button>
      <button class="w-100 nav-item nav-link" routerLink="./recent" routerLinkActive="activeTab">
        Phase 3
      </button>
      <button class="w-100 nav-item nav-link" routerLink="./pinned" routerLinkActive="activeTab">
        Phase 4
      </button>
    </div>
  
    <router-outlet ></router-outlet>
  </div>
</div> -->

<div class="container my-2">
  <div class="row ">
    <div class="col-lg col-md col-sm-12">
      <div class="d-flex align-items-center justify-content-between">
        <h3 style="margin: 0;color: #2155a3;font-weight: bolder;">Client Dashboard</h3>
        <span class="blue-color font-weight-bold" style="font-weight: 700;"> Project Name : ABC</span>
        <span class="blue-color font-weight-bold ms-4" style="font-weight: 700;">
          EXwise Consultant : name</span>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-4  justify-content-center info-card">
    <div class="col" *ngFor="let stage of detailInfo.dto" (click)="stage(stage)">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col  align-self-center">
              <h5 class="card-title  fs-6 text-uppercase fw-bold mb-2">{{stage.stageName}}</h5>
              <h5 class="card-title fs-6 fw-bold">{{stage.stageName}}</h5>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="attract" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true" [showSubtitle]="false"
                [clockwise]="true" [showUnits]="true" [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <div class=" d-flex border-0 " style="gap: 2em">
      <button class="w-100 " *ngFor="let sub of subphase" (click)="substage(sub)" [ngClass]="{'activeSubphase':sub.clicked}">
        {{sub.subPhaseName}}
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <table class="table align-middle mb-0 bg-white table-responsive-lg">
      <thead class="bg-light">
        <tr>
          <th>Questions</th>
          <th>Max weightage</th>
          <th>Date of Creation</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of substageQuestions.questionsAnswerResponseDtos">
          <td>
            <div class="ms-2">
              <p>{{data.question | titlecase}}</p>
            </div>
          </td>
          <td>
            <div class="ms-4">
              <p>{{data.maxWeightage | number}}</p>
            </div>
          </td>
          <td>
            <div class="">
              <p>{{data.created_date | date}}</p>
            </div>
          </td>
          <td>
            <span class="badge badge-success rounded-pill d-inline">{{data.status | titlecase}}</span>
          </td>
          <td>
            <button type="button" class="border-0 bg-white text-center">
              <i class="fas fa-ellipsis-v ms-4"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>