


<div class="container my-2">
  <div class="row " >
    <div class="col-lg col-md col-sm-12">
      <div class="d-flex align-items-center justify-content-between">
        <h3 style="margin: 0;color: #2155a3;font-weight: bolder;font-family: poppins;">Client Dashboard</h3>
        <span class="blue-color font-weight-bold"style="font-family: poppins;font-weight: 700;"> Project Name : ABC</span>
        <span class="blue-color font-weight-bold ms-4"style="font-family: poppins;font-weight: 700;">
          EXwise Consultant : name</span>
      </div></div>
  </div>
  <div class="row row-cols-1 row-cols-sm-4 mt-3 justify-content-center">
    <div class="col" (click)="getClientsByStatus('attract')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title  fs-5 text-uppercase fw-bold mb-2"style="font-family: poppins;font-weight: 700;" >Attract</h5>
              <span class="h2 font-weight-bold mb-0" style="font-family: poppins;font-weight: 700;">{{attract}}</span>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="attract" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                class="mb-4" [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" (click)="getClientsByStatus('develop')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title  fs-5 text-uppercase fw-bold mb-2"style="font-family: poppins;font-weight: 700;">Develop</h5>
              <span class="h2 font-weight-bold mb-0" style="font-family: poppins;font-weight: 700;">{{develop}}</span>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="develop" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                class="mb-4" [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" (click)="getClientsByStatus('retain')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title  fs-5 text-uppercase fw-bold mb-2"style="font-family: poppins;font-weight: 700;">Retain</h5>
              <span class="h2 font-weight-bold mb-0" style="font-family: poppins;font-weight: 700;">{{retain}}</span>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="retain" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                class="mb-4" [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" (click)="getClientsByStatus('seperate')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title  fs-5 text-uppercase fw-bold mb-2"style="font-family: poppins;font-weight: 700;">Seperate</h5>
              <span class="h2 font-weight-bold mb-0" style="font-family: poppins;font-weight: 700;">{{seperate}}</span>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="seperate" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
                class="mb-4" [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <div class="nav nav-tabs d-flex border-0 py-3" id="nav-tab" style="gap: 2em">
      <button class="w-100 nav-item nav-link" routerLink="./phase-one" routerLinkActive="activeTab">
        Phase 1
      </button>
      <button class="w-100 nav-item nav-link" routerLink="./phase-two" routerLinkActive="activeTab">
        Phase 2
      </button>
      <button class="w-100 nav-item nav-link" routerLink="./recent" routerLinkActive="activeTab">
        Phase 3
      </button>
      <button class="w-100 nav-item nav-link" routerLink="./pinned" routerLinkActive="activeTab">
        phase 4
      </button>
    </div>
  
    <router-outlet></router-outlet>
  </div>

  </div>