


<div class="container my-2">
  <div class="row " >
    <div class="col-lg col-md col-sm-12">
      <div class="d-flex align-items-center justify-content-between">
        <h3 style="margin: 0;color: #2155a3;font-weight: bolder;font-family: Times New Roman;">Client Dashboard</h3>
        <span class="blue-color font-weight-bold"style="font-weight: 700;font-family: Times New Roman;"> Project Name : ABC</span>
        <span class="blue-color font-weight-bold ms-4"style="font-weight: 700;font-family: Times New Roman;">
          EXwise Consultant : name</span>
      </div></div>
  </div>
  <div class="row row-cols-1 row-cols-sm-4  justify-content-center info-card">
    <div class="col" (click)="getClientsByStatus('attract')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col  align-self-center">
              <h5 class="card-title  fs-6 text-uppercase fw-bold mb-2" style="font-family: Times New Roman;">Attract</h5>
              <h5 class="card-title fs-6 fw-bold">{{attract}}</h5>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="attract" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
              [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" (click)="getClientsByStatus('develop')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col  align-self-center">
              <h5 class="card-title  fs-6 text-uppercase fw-bold mb-2"style="font-family: Times New Roman;">Develop</h5>
              <h5 class="card-title fs-6 fw-bold">{{develop}}</h5>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="develop" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
              [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" (click)="getClientsByStatus('retain')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col  align-self-center">
              <h5 class="card-title  fs-6 text-uppercase fw-bold mb-2"style="font-family: Times New Roman;">Retain</h5>
              <h5 class="card-title fs-6 fw-bold">{{retain}}</h5>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="retain" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
              [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" (click)="getClientsByStatus('seperate')">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col  align-self-center">
              <h5 class="card-title  fs-6 text-uppercase fw-bold mb-2" style="font-family: Times New Roman;">Separate</h5>
              <h5 class="card-title fs-6 fw-bold">{{seperate}}</h5>
            </div>
            <div class="col-auto">
              <circle-progress [percent]="seperate" [radius]="35" [outerStrokeWidth]="10" [innerStrokeWidth]="10"
              [outerStrokeColor]="'#2155a3'" [innerStrokeColor]="'#069DE0'" [animation]="true"
                [showSubtitle]="false" [clockwise]="true" [showUnits]="true"
                [animationDuration]="300"></circle-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="mt-2">
    <div class="nav nav-tabs d-flex border-0 " id="nav-tab" style="gap: 2em">
      <button class="w-100 nav-item nav-link" routerLink="./phase-one" routerLinkActive="activeTab">
        Phase 1
      </button>
      <button class="w-100 nav-item nav-link" routerLink="./phase-two" routerLinkActive="activeTab">
        Phase 2
      </button>
      <button class="w-100 nav-item nav-link" routerLink="./recent" routerLinkActive="activeTab">
        Phase 3
      </button>
      <button class="w-100 nav-item nav-link" routerLink="./pinned" routerLinkActive="activeTab">
        Phase 4
      </button>
    </div>
  
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="row">
    <mat-tab-group class="mt-2">
      <mat-tab label="Recent">
        <div class="container mt-4">
          <table class="table">
            <thead>
              <tr style="background-color: #70c4fe;">
                <th>Client List</th>
                <th>Contact number</th>
                <th>Client email</th>
                <th>Last Opened By You</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr routerLink="/dashboard/client-dashboard">
                <td>Project 1</td>
                <td>123-456-7890</td>
                <td>email.com</td>
                <td>5:50 Pm</td>
                <td>
                  <i class="fas fa-ellipsis-v ms-4"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Pinned"> Pinned </mat-tab>
      <mat-tab label="Activities">Activities</mat-tab>
    </mat-tab-group>
  </div> -->