<div class="container my-2">
    <div class="row mb-3">
        <div class="col-lg col-md col-sm-12">
          <div class="d-flex align-items-center justify-content-between">
            <h3 style="margin: 0;color: #2155a3;font-weight: bolder;  ">Schedule Events</h3>
           
          </div>
      </div>
      </div>
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="row mt-2 d-flex align-items-center justify-content-between">
                <section>
                  <div class="row table-row row-head gx-0">
                    <div class="col">Date</div>
                    <div class="col">Title</div>
                    <div class="col">Time</div>
                    <div class="col">Join</div>
                    <div class="col">Status</div>
                    <div class="col">Client ID</div>
                    <div class="col">Action</div>
                  </div>
                  <div class="tableCointainer" *ngIf="!isLoading">
                    <div class="row gx-0 table-row row-body px-0 " *ngFor="let item of cardsCircle2">
                      <div class="col">
                        <div class="d-flex ms-5">
                        
                        </div>
                      </div>
                      <div class="col">
                        <div class="material">
                          <div class="col">
                            <p class="fw-bold mb-1">{{item.title}}</p>
                            <p class="text-muted mb-0">{{item.email}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <p class="fw-normal mb-1">1AM to 2PM</p>
                        <p class="text-muted mb-0">{{item.description}}</p>
                      </div>
      
                      <div class="col">
                        <button class="btn background-color" type="button"
                          (click)="openMeeting(item.meeting_link)">Join</button>
                      </div>
                      <div class="col d-flex flex-column align-items-center" style="overflow: hidden;">
                        <span *ngIf="item.status=='Active'" class="badge badge-success rounded-pill d-inline">{{item.status
                          | titlecase}}</span>
                        <span *ngIf="item.status==='Inactive'" class="badge badge-danger rounded-pill d-inline">{{item.status
                          | titlecase}}</span>
                      </div>
      
                      <div class="col">
                     {{item.clientId}}
                      </div>
      
                      <div class="col">
                        <button class="border-0 m-2 " style="font-size:20px" > <i class="fa fa-pencil"
                            style="color: #2155a3;"></i></button>
                        <button class="border-0 m-2 " style="font-size:20px" > <i
                            class="fa fa-trash" style="color: #2155a3;"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="text-center my-5">
                    <i *ngIf="isLoading"  class="fa fa-spinner fa-spin" style="font-size:64px;color: #2155a3;"></i>
                  </div>
                </section>
              </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected!"   [dateClass]="dateClass"></mat-calendar>
              </mat-card>
        </div>
    </div>
</div>
