/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.css'; 
@import '../node_modules/ngx-toastr/toastr-old.css';
/* @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap'); */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
html, body { height: 100%; 
font-family:Arial;
}

#toast-container > div {
    opacity:1;
}

/* .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-mdc-slide-toggle-disabled) .mdc-switch__shadow {
    background-color: rgb(221, 17, 17) !important;
  }
  
  .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-mdc-slide-toggle-disabled) .mdc-switch__track::after {
    background-color: rgb(221, 17, 17) !important;
  } */
  
  

  
