<div class="container">
    <div class="row mt-2 justify-content-center">
        <div class="text-right fs-5">
            <span>Total Questions: {{ totalQuestions }}</span> |
            <span>Attempted: {{ attemptedQuestions }}</span> |
            <span>Unattempted: {{ unattemptedQuestions }}</span>
        </div>
        <div class="col-md-10">
            <div class="survey-container">
                <div class="card mt-2 bg-light" style="background-color: #70c4fe;">
                    <div class="card-body">
                        <div class="card mb-4" style="background-color: #70c4fe;">
                            <h3 class="card-title text-center mb-0" style="font-weight: bold; color: #2155a3;">
                                Survey Name: {{data?.surveyWithDetailResponseDto?.surveyName}}
                            </h3>
                        </div>
                    </div>
                </div>
                <form [formGroup]="questionnaireForm">
                    <ng-container formArrayName="questions">
                        <ng-container *ngFor="let surveyDetail of getSurveyDetailsFormArray().controls; let index = index">
                            <div class="card mt-2" [formGroupName]="index">
                                <div class="card-body">
                                    <h4 class="card-title" style="font-weight: 600;">
                                        {{ surveyDetail.value.question.question }} 
                                        <span class="text-danger">*</span>
                                    </h4>
                                    <div class="row mb-2">
                                        <div class="col-lg-12" *ngIf="['mcq','mixed','both'].includes(surveyDetail.value.question.questionType)">
                                            <mat-radio-group formControlName="answer">
                                                <mat-radio-button [value]="option" *ngFor="let option of surveyDetail.value.question.options">
                                                    {{ option }}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="col-lg-12" *ngIf="['descriptive','mixed','both'].includes(surveyDetail.value.question.questionType)">
                                           <textarea class="form-control" rows="3" placeholder="Type your answer here" formControlName="ansForDescriptive"
                                            ></textarea>
                                        </div>
                                        <div class="col-lg-12" *ngIf="['reasonForEXIT'].includes(surveyDetail.value.question.questionType)">
                                            <mat-radio-group formControlName="answer">
                                                <mat-radio-button [value]="option" *ngFor="let option of exitSurveyList">
                                                    {{ option }}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="col-lg-12" *ngIf="['eNPS'].includes(surveyDetail.value.question.questionType)">
                                            <div class="emoji-container p-5">
                                                <span *ngFor="let emoji of emojis; let i = index" class="emoji" (click)="selectEmojiSCore(10 - i,index)">{{ emoji }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </form>
                <div class="text-center mt-4">
                    <button class="button-color text-white border-0 py-2 px-4 rounded" (click)="submitSurvey()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>