<!-- <div class="row"> -->
<div class="col-md-12 mt-2">
    <h3 style="display: inline; color: #2155a3; font-weight: 700;">Create employee experience phase</h3>
    <button type="button" class="close bthnHover" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- <div class="container"> -->
<div class="col-md-12">
    <form [formGroup]="createTouchpointForm">
        <div class="mt-4">
            <label for="" class="label-control">Employee experience phase name</label>
            <input type="text" class="form-control w-100" placeholder="Enter employee experience phase name"
                formControlName="subPhaseName">
            <p *ngIf="createTouchpointForm.get('subPhaseName')?.touched && createTouchpointForm.get('subPhaseName')?.hasError('required')"
                class="text-danger ms-3">
                Touchpoint subphase name is required
            </p>
        </div>

        <div class="mt-4 d-flex flex-wrap">
            <div class="col-md-6">
                <button class="p-2 rounded btn-outline button-color border-0 w-100" (click)="next(1)">
                    Add Touchpoint</button>
            </div>
            <div class="col-md-6">
                <button class="p-2 rounded btn-outline button-color border-0 w-100" (click)="next(2)">
                    Add Component</button>
            </div>
        </div>
    </form>
</div>
<!-- </div> -->
<!-- </div> -->