<section>
    <div class="col-12 my-2">
      <!-- <h2 class="font-weight-bold" style="display: inline; color: #2155a3;font-style: poppins;">Matrics Info</h2> -->
      <button type="button" class=" bthnHover" aria-label="Close" (click)="Close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-md-12  border-0">
    <div class="card border-0">
        <div class="card-body mx-4">
          <div class="container border-0">
            <p class="my-5 mx-5 text-center" style="font-size: 30px;">People Matrics</p>
            <div class="row">
              <ul class="list-unstyled">
                <li class="text-black">Matrics Name</li>
                <!-- <li class="text-muted mt-1"><span class="text-black">Invoice</span> #12345</li> -->
                <li class="text-black mt-1">April 17 2021</li>
              </ul>
              <hr>
              <div class="col-xl-10">
                <p>data</p>
              </div>
              <div class="col-xl-2">
                <p class="float-end">$199.00
                </p>
              </div>
              <hr>
            </div>
            <div class="row">
              <div class="col-xl-10">
                <p>calculationsOrDefination</p>
              </div>
              <div class="col-xl-2">
                <p class="float-end">$100.00
                </p>
              </div>
              <hr>
            </div>
            <div class="row">
              <div class="col-xl-10">
                <p>calculationsOrDefination</p>
              </div>
              <div class="col-xl-2">
                <p class="float-end">$10.00
                </p>
              </div>
              <hr style="border: 2px solid black;">
            </div>
            <div class="row text-black">
      
              <!-- <div class="col-xl-12">
                <p class="float-end fw-bold">Total: $10.00
                </p>
              </div>
              <hr style="border: 2px solid black;"> -->
            </div>
       
          </div>
        </div>
      </div>
    </div>
    </section>