<div class="col-lg-12 mt-2">
    <h2  style="display: inline; color: #2155a3; font-weight: 700;">{{buttonName}}</h2>
    <button type="button" class="close bthnHover" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="col-lg-12 mx-auto">
    <div class="row">
        <form [formGroup]="createSurveyForm" (ngSubmit)="onSubmit()" class="w-100">

            <div class="col-md-12 mt-4">
                <label for="survey_name">Survey name</label>
                <input type="text" id="survey_name" class="form-control bg-light w-100" placeholder="Survey name" (keypress)="isNumber($event)"
                    formControlName="survey_name">
                    <small class="p-0">
                        <p *ngIf="createSurveyForm.get('survey_name')?.touched && createSurveyForm.get('survey_name')?.hasError('required')" class="text-danger">
                            Survey name is required
                        </p>
                        <p *ngIf="createSurveyForm.get('survey_name')?.touched && createSurveyForm.get('survey_name')?.hasError('pattern')" class="text-danger">
                            Survey name should not contain numbers
                        </p>
                    </small>
            </div>
            <div class="col-md-12 mt-4">
                <label for="survey_Type">Survey type</label>
                <input type="text" id="survey_Type" class="form-control bg-light w-100" placeholder="Survey type"
                    formControlName="survey_Type">
                    <small class="p-0">
                        <p *ngIf="createSurveyForm.get('survey_Type')?.touched && createSurveyForm.get('survey_Type')?.hasError('required')" class="text-danger">
                            Survey type is required
                        </p>
                    </small>
            </div>

            <div class="col-md-12 mt-4">
                <label for="survey_description">Survey description</label>
                <input type="text" id="survey_description" class="form-control bg-light w-100"
                    placeholder="Survey description" formControlName="survey_description">
            </div>
            <hr>
           
            <div class="col-md-12 mt-2">
                <label for="survey_description">Add Survey Stages</label>
                <div class=""formArrayName="stages">
                <div class="input-group mb-3"*ngFor="let item of stages().controls; let i = index">
                    <input type="text" class="form-control"[formControlName]="i" placeholder="Add Stage of survey" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"(click)="deleteRow(i)"><i class="fa fa-trash-o" style="font-size:22px;color:red"></i></button>
                  </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-outline-secondary w-100" (click)="addRow()">Add Stages</button>
                </div>
            </div>

            <!-- <div class="col-md-12 mt-4">
                <label for="related_documents">Related documents</label>
                <input type="file" id="related_documents" class="bg-light form-control"
                    >
            </div> -->

            <div class="col-md-12 mt-3 mb-3 text-center text-right">
                <button type="submit" class="py-2 px-4 border-0 rounded button-color text-white " style="">{{buttonName}}</button>
            </div>
        </form>
    </div>
</div>