<!-- 
<div class="row bg-light">
    <div class="col-9 mt-3">
      <h2 class="ms-4 blue-color font-weight-bold">Project admin</h2>
    </div>
    <div class="col-3 mt-4">
      <span class="blue-color font-weight-bold"> Project name : ABC</span>
      <span class="blue-color font-weight-bold ms-4"> EXwise consultant : name</span>
    </div>
</div>

<div>
    <div class="row mt-4">
      <div class="col">
        <h3 class="blue-color font-weight-bold ms-4 mt-4" style="display: inline;">User details</h3>
      </div>
      <div class="col d-flex justify-content-end align-items-center">
        <div class="input-group me-3">
            <input type="time" class="form-control">
          </div>
          <span class="me-3">To</span>
          <div class="input-group me-3">
            <input type="time" class="form-control">
          </div>
          <button class="btn background-color me-4">Filter</button>
          <button class="btn background-color me-4" (click)="openPopup()">Add User</button>
      </div>
    </div>
  </div>

  <div class="row p-4">
        <div class="container">
          <table class="table">
            <thead>
              <tr style="background-color: #70c4fe;">
                <th>User name</th>
                <th>User email</th>
                <th>Contact number</th>
                <th>Date created</th>
                <th>Date and time last accessed</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Abc</td>
                <td>abc.com</td>
                <td>8637627372</td>
                <td>02-04-24</td>
                <td>02-04-24 <span class="ms-4">4:25 PM</span></td>
                <td>Active</td>
                <td>
                    <i class="fas fa-edit fa-lg icon-sky-color"></i>
                    <i class="fas fa-trash-alt ms-3 fa-lg blue-color"></i>                    
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div> -->

  


    <section id="tasksection">
      <div class="container-fluid leaveHeader">
        <div class="row">
          <div class="col-lg col-md col-sm-12">
            <div class="d-flex align-items-center justify-content-between">
              <h3 style="margin: 0">Project Admin</h3>
              <span class="blue-color font-weight-bold"> Project name : ABC</span>
              <span class="blue-color font-weight-bold ms-4">
                EXwise consultant : name</span
              >
            </div>
          
            
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-md-7 col-12 mt-3">
              <div class="main-content">
                <div class="container">
            
                  <div class="d-flex align-items-center mb-3 mt-2">
                    <!-- <h3 class="font-weight-bold blue-color ms-3">Task status</h3> -->
                    <button class="text-white button-color border-0 py-2 px-4 ms-auto rounded">
                        <i class="fas fa-plus-circle me-1"></i> Add Task
                    </button>
                </div>
              
                  <div class="row">
                    <div class="col">
                      <div class="card shadow">
                      
                        <div class="table-responsive">
                          <table class="table align-items-center table-flush">
                            <thead style="background-color: #70c4fe;">
                              <tr>
                                
                                <th scope="col">User name</th>
                                <th scope="col">User email</th>
                                <th scope="col">Contact number</th>
                                <th scope="col">Date created</th>
                                <th scope="col">Date and time last accessed</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Abc</td>
                                <td>abc.com</td>
                                <td>8637627372</td>
                                <td>02-04-24</td>
                                <td>02-04-24 <span class="ms-4">4:25 PM</span></td>
                                <td>Active</td>
                                <td>
                                    <i class="fas fa-edit fa-lg icon-sky-color"></i>
                                    <i class="fas fa-trash-alt ms-3 fa-lg blue-color"></i>                    
                                </td>
                              </tr>
                            </tbody>
                            <!-- <tbody>
                              <tr *ngFor="let i of itemsCard">
                                <th scope="row">
                                  <div class="media align-items-center">
                                    <div class="media-body">
                                      <span class="mb-0 text-sm">{{i.name}}</span>
                                    </div>
                                  </div>
                                </th>
                                <td>
                                {{i.email}}
                                </td>
                                <td>
                                  {{i.Date}}
                                  </td>
                                  <td>
                                    {{i.Date}}
                                    </td>
                                <td>
                                  <span class="badge badge-dot mr-4">
                                    <i class="bg-warning"></i> {{i.status}}
                                  </span>
                                </td>
                              
                                
                                <td class="text-right">
                                  <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                      <a class="dropdown-item" href="#">Action</a>
                                      <a class="dropdown-item" href="#">Another action</a>
                                      <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                           
                            </tbody> -->
                          </table>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
          </div>
         
        </div>
    </section>