<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md col-sm-12">
      <div class="py-5 mx-2  px-5">
        
    <div class="row mb-5 me-1">
      <div class="d-flex align-items-center justify-content-between">
        <h3 style="margin:0; font-family: poppins; font-weight: 900;"class="blue-color ms-2">User Details</h3>
      
        <button class="btn background-color" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight3" aria-controls="offcanvasRight3" style="height: 3em; font-family: poppins;">
        <img src="assets/plus.svg" class="me-2" height="18" alt="" />
        <span class="filter-text">Create User</span>
      </button>
      </div>
    </div>
       

        <section class="container-fluid">
          <div class="row table-row row-head gx-0">
            <div class="col fw-bold">Name</div>
            <div class="col fw-bold">Title</div>
            <div class="col fw-bold">Status</div>
            <div class="col fw-bold">Position</div>
            <div class="col fw-bold">Action</div>
          </div>
          <div class="tableCointainer">
            <div class="row gx-0 table-row row-body px-0 " *ngFor="let data of details">
              <div class="col d-flex align-items-center">
                <img
                    src="../../../../../assets/boy.jpg"
                    alt=""
                    style="width: 48px; height: 48px"
                    class="rounded-circle"
                    />
                <div class="col ms-1" style="overflow: hidden;">
                  <p class="fw-bold mb-1">{{data.firstName}} {{data.lastName}}</p>
                  <!-- <p class="text-muted mb-0">{{data.email}}</p> -->
                </div>
              </div>

              <div class="col">
                <p class="fw-normal mb-1">Software engineer</p>
                <p class="text-muted mb-0">{{data.typeOfUser}}</p>
              </div>
              <div class="col d-flex flex-column align-items-center"
                style="font-family: poppins; overflow: hidden;">
                <span class="badge badge-success rounded-pill d-inline">Active</span>
                <!-- <span *ngIf="data.status=='Active'"
                    class="badge badge-success rounded-pill d-inline">{{data.status | titlecase}}</span>
                  <span *ngIf="data.status==='Inactive'"
                    class="badge badge-danger rounded-pill d-inline">{{data.status | titlecase}}</span> -->
              </div>

              <div class="col">
                <p class="text-muted mb-0">Senior</p>
              </div>
              <div class="col">
                <button type="button" class="btn btn-link btn-sm btn-rounded">
                  Edit
                </button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-lg-4 col-md col-sm-12">
      <div class="row d-flex justify-content-center align-items-center h-100 py-2 mx-2 ">
        <div class="col col-lg col-xl">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #2155a3; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;">
                  Edit profile
                </button>
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5>{{info?.firstName}} {{info?.lastName}}</h5>
                <p>{{info?.email}}</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
               
                <div class="px-3">
                  <p class="mb-1 h5">1026</p>
                  <p class="small text-muted mb-0">Assign Survey</p>
                </div>
                <div>
                  <p class="mb-1 h5">478</p>
                  <p class="small text-muted mb-0">Responce</p>
                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">
              <div class="mb-5">
                <p class="lead fw-normal mb-1">About</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1">Web Developer</p>
                  <p class="font-italic mb-1">Lives in New York</p>
                  <p class="font-italic mb-0">Photographer</p>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    
</div>
</div>

