<div class="container">
    <div class="col-lg-12 mt-2">
        <h3  style="display: inline; color: #2155a3; font-weight: 700;">All Touchpoints</h3>
        <button type="button" class="close bthnHover" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row mt-2">
        <div class="col d-flex justify-content-end align-self-center mb-2">
            <button class="p-2 px-3 rounded button-color text-white border-0" (click)="toggleTouchpointForm()">Create
                Touchpoint</button>
        </div>

        <section id="touchpoint" class="collapse">
            <div class="conatiner">
                <div class="row mb-4 justify-content-center">
                    <div class="col-md-7">
                        <div class="card">
                           <div class="p-2">
                            <label for="touchpoint_name">Touchpoint Name</label>
                            <input type="text" id="touchoint_name" class="form-control bg-light w-100"
                                placeholder="Enter touchpoint name">
                           </div>
                            <div class="p-2">
                                <button class="mt-2 rounded button-color text-white border-0 p-2 w-100">Create Touchpoint</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="" style="height: 100vh;">
        <div class="row table-row row-head gx-0">
            <div class="col">Touchpoint name</div>
            <div class="col">Status</div>
            <div class="col">Created Date</div>
            <div class="col">Action</div>
        </div>
        <div class="tableCointainer">
            <div class="row gx-0 table-row row-body px-0 " *ngFor="let item of touchpoints">
                <div class="col">
                    <div class="material">
                        <div class="col"> {{item.touchpoints | titlecase }}</div>
                    </div>
                </div>
                <div class="col">
                    {{item?.description}}
                </div>
    
                <div class="col">{{item.created_date | date}}</div>
                <div class="col"> 
                    <button class="border-0 m-2 " style="font-size:20px"> <i class="fa fa-pencil"
                        style="color: #2155a3;"></i></button>
                    <button class="border-0 m-2 " style="font-size:20px" > <i
                        class="fa fa-trash" style="color: #2155a3;"></i></button>
                </div>
            </div>
        </div>
    </section>
</div>