/* .input-group-append {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
    background-color: transparent;
    border-radius: 3px;
  }
  
  .input-group-text {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  
  .input-group-append {
    z-index: 3;
  }
  
  .bg-image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-image {
      position: absolute;
    
      width: 60%; 
      height: auto;
  }
  
  .overlay-text {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .exwise-logo {
    width: 70%;
    margin-top: 10%;
  }
  
 
  
  .heading-tag  {
    color: rgb(33, 85, 163);

    font-weight: bold;
  }
  
  input {
    height: 40px;
  }
  
  .row {
    padding-top: 5%;

  }
  
  .button-style {
    background-color: rgb(33, 85, 163);
  }
  
  .button-style:hover {
    background-color: rgb(19, 62, 126);
  }
  
  .signup-style {
    margin-top: 4em;
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .signup-text {
    color: rgb(33, 85, 163);
    cursor: pointer;
  }

  .image-wrapper {
    position: relative;
    display: inline-block; 
}

input:focus {
  outline: none;
}

input{
  padding-inline-start: 10px;
}

.exwise-image {
    width: 100%; 
    display: block;
    border-radius: 50%; 
    background-color: white;
}

.login-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.login-image {
    width: 400px; 
}

.circle {
  width: 100%; 
  height: 100%; 
  background-color: white;
  border: 20px solid #2155a3;
  border-radius: 50%; 
  display: flex;
  justify-content: center;

}

.circle-img {
  max-width: 100%;
  max-height: 100%; 
} */




.dotted-square {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: white;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #2155a3;
  position: absolute;
}

.vertical-dot {
  width: 5px;
  height: 5px;
  background-color: #2155a3; 
  position: absolute;
  border-radius: 50%;
}